.chartParent {
  padding: 5px;
  width: 400px;
}

.divTable{
  display: table;
  width: 100%;
}

.divTableRow {
  display: table-row;
}

.divTableCell {
  display: table-cell;
}

.header-text {
  font-weight: bold;
  color: dimgrey;
}

.divTableBody {
  display: table-row-group;
}

#commits {
  color: #04eeff
}

#pull {
  color: #04eb0f
}

#issues {
  color: red
}
