<div class="widget">
  <div class="widget-heading">
    {{title}}
  </div>
  <app-line-and-bar-chart
    [view]="view"
    [scheme]="colorScheme"
    [colorSchemeLine]="lineChartScheme"
    [results]="data[0]"
    [lineChart]="data[1]"
    [yAxisTickFormatting]="yAxisTickFormatting"
    [xAxisTickFormatting]="xAxisTickFormatting"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [animations]='false'>
  </app-line-and-bar-chart>
</div>
