<widget-modal widget-modal-close="true">
    <div class="widget-detail performance-detail">
        <div class="widget-detail-body">
            <!--<span class="no-changesets" ng-hide="detail.commits.length">No Changes</span>-->
            <!--<table class="table">
                <thead>
                <tr>
                    <th>Revision</th>
                    <th>Author</th>
                    <th>Message</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="commit in detail.commits">
                    <td>{{::commit.scmRevisionNumber | limitTo:8}}</td>
                    <td>{{::commit.scmAuthor}}</td>
                    <td>{{::commit.scmCommitLog}}</td>
                    <td>{{::commit.scmCommitTimestamp | date:'MMM d, HH:mm:ss'}}</td>
                </tr>
                </tbody>
            </table>-->
            <h1>Hello there</h1>
            <h2>Im displaying {{detail.calls}}</h2>
            <h3>It was displayed at {{detail.calllabels}}</h3>
            {{performanceDetail.deeplink}}
        </div>
    </div>
</widget-modal>
