<widget-modal widget-modal-close="true">
    <div class="widget-detail performance-detail">
        <div class="widget-detail-body">
            <!--<span class="no-changesets" ng-hide="detail.commits.length">No Changes</span>-->
            <!--<table class="table">
                <thead>
                <tr>
                    <th>Revision</th>
                    <th>Author</th>
                    <th>Message</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="commit in detail.commits">
                    <td>{{::commit.scmRevisionNumber | limitTo:8}}</td>
                    <td>{{::commit.scmAuthor}}</td>
                    <td>{{::commit.scmCommitLog}}</td>
                    <td>{{::commit.scmCommitTimestamp | date:'MMM d, HH:mm:ss'}}</td>
                </tr>
                </tbody>
            </table>-->
            <h1>Health Rule Violations</h1>
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Time</th>
                  <th>Status</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="obj in detail.healthruleviolations">
                  <td>{{obj.name}}</td>
                  <td>{{obj.startTimeInMillis | date:'MMM d, HH:mm:ss'}}</td>
                  <td>{{obj.incidentStatus}}</td>
                  <td ng-bind-html="obj.description"></td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</widget-modal>
