<div class="performance-view">
  <div class="row">
    <div class="col-xs-12">
      <div class="widget-heading">
        Application Tracked: {{performanceView.appname}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="widget health-bars">

        <div class="widget-heading">
          Business Transaction Health
        </div>
        <div class="widget-body">
          <div guage-container>
            <div class="ct-wrapper clearfix"
                 ng-class=""
                 popover-html-unsafe=""
                 popover-trigger="focus"
                 popover-placement="right"
                 tabindex="0">
                  <chartist class="ct-chart ct-square db-chart-primary ct-chart-Warning"
                  chartist-data="performanceView.transactionHealthData"
                  chartist-chart-options="performanceView.pieOptions"
                  chartist-chart-type="Pie">
                  </chartist>
                  <div class="guage-number">
                    <span fit-text>{{performanceView.businessavg}}<small class="percent">%</small></span>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="widget health-bars">
        <div class="widget-heading">
          Node Health
        </div>
        <div class="widget-body">
          <div guage-container>
            <div class="ct-wrapper clearfix"
                 ng-class=""
                 popover-html-unsafe=""
                 popover-trigger="focus"
                 popover-placement="right"
                 tabindex="0">
                  <chartist class="ct-chart ct-square db-chart-primary ct-chart-Warning"
                  chartist-data="performanceView.nodeHealthData"
                  chartist-chart-options="performanceView.pieOptions"
                  chartist-chart-type="Pie">
                  </chartist>
                  <div class="guage-number">
                    <span fit-text>{{performanceView.nodeavg}}<small class="percent">%</small></span>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-12">
      <div class="widget health-arrows">
        <div class="widget-heading">
          Overall Health
        </div>
        <div class="widget-body">
          <table class="table">
            <tr>
              <td>
                <span dash-status="ok"></span>
              </td>
              <td>
                Response Time
              </td>
              <td>
                {{performanceView.responsetime}}
              </td>
            </tr>
            <tr>
              <td>
                <span dash-status="alert"></span>
              </td>
              <td>
                Calls Per Minute
              </td>
              <td>
                {{performanceView.callspm}}
              </td>
            </tr>
            <tr>
              <td>
                <span dash-status="alert"></span>
              </td>
              <td>
                Errors Per Minute
              </td>
              <td>
                {{performanceView.errorspm}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>


  </div>
  <div class="row">
    <div class="col-lg-6 col-sm-12">
          <div class="widget health-charts health-charts-calls">
            <div class="widget-heading">
              Calls
            </div>
            <div class="widget-body">
              <chartist class="ct-chart ct-octave dash-chart-alt"
                        chartist-chart-type="Line"
                        chartist-data="performanceView.callsChartData"
                        chartist-chart-options="performanceView.genericChartOptions"
                        chartist-events=""
                        >
              </chartist>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-sm-12">
          <div class="widget health-charts health-charts-errors">
            <div class="widget-heading">
              Errors
            </div>
            <div class="widget-body">
              <chartist class="ct-chart ct-octave dash-chart-alt"
                        chartist-chart-type="Line"
                        chartist-data="performanceView.errorsChartData"
                        chartist-chart-options="performanceView.genericChartOptions"
                        chartist-events=""
                        >
              </chartist>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
