# See http://help.github.com/ignore-files/ for more about ignoring files.
.tern-project
# npm files
# package-lock.json                                                                   
# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.vscode
/.idea
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
.history/*

# misc
report*.json
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
/target
testem.log
/typings
/personal
*.out
*.swp

# System Files
.DS_Store
Thumbs.db
