.DS_Store
*.class

#java certificates
*.crt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.iws
*.iml
*.ipr
out
build
.gradle
gradle.properties
.idea
common/src/querydsl
common/src/generated
core/src/generated
*.log
target
UI/node
UI/src/app/local-testing.js
*.releaseBackup
docker-compose.override.yml
logs
.project
.settings
.pmd
.pmdruleset.xml
.classpath
.README.md.html

# Eclipse specific ignore settings
.settings/
.project
.pmdruleset.xml
.pmd
.classpath
application.properties

#################
## Maven
#################
target/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*.log

#################
## Eclipse/IDEA
#################
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.idea
*.iml
.sonar_lock

# External tool builders
.externalToolBuilders/

# CDT-specific
.cproject

# PDT-specific
.buildpath

#################
## Subversion
#################
.svn/

#################
## P6SPY
#################
spy.log

#################
## Project specific
#################
# ... to be completed ...
*.store
*.toc
*.toc.obs
*.properties
nb-configuration.xml
docker-compose.override.yml

certs/

######################
## Personalized Templates
######################

UI/src/app/dashboard/controllers/*
UI/dist/app/dashboard/controllers/*