.DS_Store
*.class

#java certificates
*.crt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.iws
*.iml
*.ipr
out
build
.gradle
gradle.properties
.idea
common/src/querydsl
common/src/generated
core/src/generated
*.log
target
UI/node
UI/src/app/local-testing.js
*.releaseBackup
docker-compose.override.yml
logs
.project
.settings
.pmd
.pmdruleset.xml
.classpath
.README.md.html

# Eclipse specific ignore settings
.settings/
.project
.pmdruleset.xml
.pmd
.classpath
application.properties
