<widget-modal widget-modal-close="true">
    <div class="widget-detail issue-detail">
        <div class="widget-detail-body">
            <span class="no-changesets" ng-hide="detail.issue.length">No Changes</span>
            <table class="table" ng-show="detail.issues.length">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Developer</th>
                    <th>Title</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="issue in detail.issues">
                    <td>{{::issue.Id | limitTo:8}}</td>
                    <td>{{::issue.Developer}}</td>
                    <td>{{::issue.Title}}</td>
                    <td>{{::issue.Timestamp | date:'MMM d, HH:mm:ss'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</widget-modal>
