<div class="levelonemanager-view">
    <!--div class="widget">
        <div class="widget-heading">
            levelonemanagers per day
        </div>
        <div class="widget-body">
            <chartist class="ct-chart ct-octave dash-chart-alt"
                      chartist-chart-type="Bar"
                      chartist-data="levelonemanagerView.levelonemanagerChartData"
                      chartist-chart-options="levelonemanagerView.levelonemanagerChartOptions"
                      chartist-events="levelonemanagerView.levelonemanagerChartEvents"
            >
            </chartist>
        </div>
    </div-->

    <div class="widget">
        <div class="widget-heading">
            Contributions Ranked by LEVEL ONE Manager
        </div>
        <div class="widget-body">
            <table class="table levelonemanager-summary-table">
                <tr>
                    <td>Total Pulls</td>
                    <td>{{levelonemanagerView.TopRankedTotal}}</td>
                </tr>
                <tr>
                    <td>{{levelonemanagerView.TopRanked1}}</td>
                    <td>{{levelonemanagerView.TopRankedTotal1}}</td>
                </tr>
                <tr>
                    <td>{{levelonemanagerView.TopRanked2}}</td>
                    <td>{{levelonemanagerView.TopRankedTotal2}}</td>
                </tr>
                <tr>
                    <td>{{levelonemanagerView.TopRanked3}}</td>
                    <td>{{levelonemanagerView.TopRankedTotal3}}</td>
                </tr>
                <tr>
                    <td>{{levelonemanagerView.TopRanked4}}</td>
                    <td>{{levelonemanagerView.TopRankedTotal4}}</td>
                </tr>
                <tr>
                    <td>{{levelonemanagerView.TopRanked5}}</td>
                    <td>{{levelonemanagerView.TopRankedTotal5}}</td>
                </tr>
                <tr>
                    <td>{{levelonemanagerView.TopRanked6}}</td>
                    <td>{{levelonemanagerView.TopRankedTotal6}}</td>
                </tr>
                <tr>
                    <td>{{levelonemanagerView.TopRanked7}}</td>
                    <td>{{levelonemanagerView.TopRankedTotal7}}</td>
                </tr>
                <tr>
                    <td>{{levelonemanagerView.TopRanked8}}</td>
                    <td>{{levelonemanagerView.TopRankedTotal8}}</td>
                </tr>
                <tr>
                    <td>{{levelonemanagerView.TopRanked9}}</td>
                    <td>{{levelonemanagerView.TopRankedTotal9}}</td>
                </tr>
                <tr>
                    <td>{{levelonemanagerView.TopRanked10}}</td>
                    <td>{{levelonemanagerView.TopRankedTotal10}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
