nb-card {
  background-color: dimgrey;
  nb-card-header {
    background-color: #2D2D2D;
    font-family: 'Lucida Grande', sans-serif;
    font-weight: 500;
    line-height: 1;
  }

  select {
    width: 30em;
  }
}
