nb-card {
  background-color: #4c4c4c;
  nb-card-header {
    background-color: #2D2D2D;
    font-family: 'Lucida Grande', sans-serif;
    font-weight: 500;
    line-height: 1;
  }

  nb-select {
    width: 25em;
  }
}
