<div class="gitdeveloper-view">
    <!--div class="widget">
        <div class="widget-heading">
            gitdevelopers per day
        </div>
        <div class="widget-body">
            <chartist class="ct-chart ct-octave dash-chart-alt"
                      chartist-chart-type="Bar"
                      chartist-data="gitdeveloperView.gitdeveloperChartData"
                      chartist-chart-options="gitdeveloperView.gitdeveloperChartOptions"
                      chartist-events="gitdeveloperView.gitdeveloperChartEvents"
            >
            </chartist>
        </div>
    </div-->

    <div class="widget">
        <div class="widget-heading">
            Contributions Ranked by Developer
        </div>
        <div class="widget-body">
            <table class="table gitdeveloper-summary-table">
                <tr>
                    <td>Total Pulls</td>
                    <td>{{gitdeveloperView.TopRankedTotal}}</td>
                </tr>
                <tr>
                    <td>{{gitdeveloperView.TopRanked1}}</td>
                    <td>{{gitdeveloperView.TopRankedTotal1}}</td>
                </tr>
                <tr>
                    <td>{{gitdeveloperView.TopRanked2}}</td>
                    <td>{{gitdeveloperView.TopRankedTotal2}}</td>
                </tr>
                <tr>
                    <td>{{gitdeveloperView.TopRanked3}}</td>
                    <td>{{gitdeveloperView.TopRankedTotal3}}</td>
                </tr>
                <tr>
                    <td>{{gitdeveloperView.TopRanked4}}</td>
                    <td>{{gitdeveloperView.TopRankedTotal4}}</td>
                </tr>
                <tr>
                    <td>{{gitdeveloperView.TopRanked5}}</td>
                    <td>{{gitdeveloperView.TopRankedTotal5}}</td>
                </tr>
                <tr>
                    <td>{{gitdeveloperView.TopRanked6}}</td>
                    <td>{{gitdeveloperView.TopRankedTotal6}}</td>
                </tr>
                <tr>
                    <td>{{gitdeveloperView.TopRanked7}}</td>
                    <td>{{gitdeveloperView.TopRankedTotal7}}</td>
                </tr>
                <tr>
                    <td>{{gitdeveloperView.TopRanked8}}</td>
                    <td>{{gitdeveloperView.TopRankedTotal8}}</td>
                </tr>
                <tr>
                    <td>{{gitdeveloperView.TopRanked9}}</td>
                    <td>{{gitdeveloperView.TopRankedTotal9}}</td>
                </tr>
                <tr>
                    <td>{{gitdeveloperView.TopRanked10}}</td>
                    <td>{{gitdeveloperView.TopRankedTotal10}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
