<div class="team-view" style="margin-top: -10px;">
	<div class="widget">
		<div class="widget-heading">
            {{teamView.teamTitle}}
        </div>
        <div class="widget-body">
				<div class="row">
					<div class="col-lg-6">
						<div id="canvas-holder-1">
							<chartist
									class="ct-chart ct-square db-chart-primary ct-chart-Ok"
									chartist-data="teamView.headcount"
									chartist-chart-options="{ showLabel: false,
									  	donut: true,
							            startAngle: 270}"
									chartist-chart-type="Pie"></chartist>
						</div>
					</div>
					<div class="col-lg-6">
						<blockquote style="border-left:5px solid #4C9900;"><p>Associate ({{teamView.assocs}})</p></blockquote>
						<blockquote style="border-left:5px solid #FF5A5E;"><p>Non-Associate ({{teamView.nonasscos}})</p></blockquote>
					</div>
				</div>
		</div>
</div>
</div>