.modal-body {
  background-color: #565859;
  color: #fafafa;
}

.modal-footer {
  padding: 15px;
  background-color: #444648;
  color: lightgrey;
}

.invalid-feedback, .required-text {
  color:orangered;
}
