.btn-secondary {
  color: #666;
  background-color: #e6e6e6;
  border-color: #b6b9be;
}
.dashboard-type-list {
  width: 100%;

  .btn {
    width: 33.333%;
    text-overflow: ellipsis;
    overflow: hidden;

  }
}
.widget-modal-heading {
  border-bottom: 1px solid #7f7f7f;
  color: #152131;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  padding: 1rem;
  text-align: center;
}
.gap {
  margin-top: 3.5rem;
}
.table-row{
  cursor:pointer;
}
table td{
  padding: .5rem;
  background: #fff;
  color: #666;
}
