@mixin box-shadow ($v1, $v2, $v3, $v4, $v5){
  -moz-box-shadow: $v1 $v2 $v3 $v4 $v5;
  -webkit-box-shadow: $v1 $v2 $v3 $v4 $v5;
  box-shadow: $v1 $v2 $v3 $v4 $v5;
}

@mixin font-style {
  font-family: 'Lucida Grande';
  font-weight: 600;
  line-height: 1.5;
  color: lightgray;
}
.gap {
  margin-top: 3.5rem;
}

#dSearch {
  background: black;
  border: dimgrey solid 0.1em;
}

#bCreate {
  float: right;
}

nb-card-header {
  @include font-style
}
nb-list-item {
  color: dimgrey;
  .d-name {
    margin-left: 1em;
    @include font-style
  }
}

nb-list-item:hover {
  cursor: pointer;
  line-height: 2;
  font-size: 18px;
  color: #3366ff;
  @include box-shadow(10px,0px,15px,4px,grey);
}
nb-card {
  background-color: black;
}

h4 {
  color: dimgrey;
}
