<div class="main-content">
  <div class="widget-modal-heading">
    Select Your Dashboard
  </div>
  <div class="btn-group dashboard-type-list">
    <button type="button"
            class="btn btn-secondary" [ngClass]="{'active': dashboardType===''}" (click)="setDashboardType('')"> All Dashboards </button>
    <button type="button"
            class="btn btn-secondary" [ngClass]="{'active': dashboardType==='Team'}" (click)="setDashboardType('Team')"> Team Dashboards </button>
    <button type="button"
            class="btn btn-secondary" [ngClass]="{'active': dashboardType==='Product'}" (click)="setDashboardType('Product')"> Product Dashboards </button>
  </div>
  <div class="gap">
    <input type="search" name="dashboardSearch" class="form-control" [formControl]="queryField" placeholder="Type to find dashboard">
  </div>
  <div class="row">
    <div class="col-sm-8" >
      <ng-container *ngIf="myDashboards">
        <div class="gap" >
          <h3> My {{ dashboardType }} Dashboards</h3>
          <table class="table table-hover orders-table">
            <tr *ngFor="let dashboard of myDashboards"  class="table-row table">
              <td>
                <span class="fa fa-lg left-icon" [ngClass]="{'fa-cubes' : dashboard.type === 'Product'}"></span>
                {{ dashboard.title }} {{ dashboard.type }}
              </td>
            </tr>
          </table>
          <div class="text-center" *ngIf="!myDashboards.length">
            No results
          </div>
          <app-pagination [totalSize]="myDashboardCollectionSize" (pageChange)="myDashboardPageChange($event)"></app-pagination>
        </div>
      </ng-container>
    </div>
    <div class="col-sm-8" >
      <ng-container *ngIf="allDashboards">
        <div class="gap" >
          <h3> All {{ dashboardType }} Dashboards</h3>
          <table class="table table-hover orders-table">
            <tr *ngFor="let dashboard of allDashboards" class="table-row">
              <td>
                <span class="fa fa-lg left-icon" [ngClass]="{'fa-cubes' : dashboard.type === 'Product'}"></span>
                {{ dashboard.title }}
              </td>
            </tr>
          </table>
          <div class="text-center" *ngIf="!allDashboards.length">
            No results
          </div>

          <app-pagination [totalSize]="dashboardCollectionSize" (pageChange)="allDashboardPageChange($event)"></app-pagination>
        </div>
      </ng-container>
    </div>
  </div>

</div>

