<div class="widget">
  <div class="widget-heading">
    {{title}}
  </div>
  <ngx-charts-area-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="data"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [yAxisTickFormatting]="yAxisTickFormatting"
    [trimYAxisTicks]="trimYAxisTicks"
    [timeline]="timeline"
    [tooltipDisabled]="tooltipDisabled">
  </ngx-charts-area-chart>
</div>
