@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints";
@import "../../../node_modules/bootstrap/scss/mixins/";
@import 'site';
@import 'mixins';

// BOOTSTRAP VARIABLES
// ========================================
$icon-font-path: '../fonts/';
$link-color: $dash-text;
$link-hover-decoration: 'none';
$table-border-color: transparent;
$modal-content-bg: $dash-modal-bg;

// BOOTSTRAP EXTENSIONS
// ========================================
.modal-backdrop {
  bottom: 0; // fix for 3.3.1
}

.modal-lg {
  width: 960px;
}

.tab-content {
  background: #fff;
  border: 1px solid #ddd;
  border-top: 0;
}


// OTHER
// ========================================
// make all elements fill the screen
html,
body,
#container {
  height: 100%;
}

// specify basic styles for all pages
body {
  background: $dash-bg;
  color: $dash-text;
}

// remove the outline so we don't have it show with popovers
:focus {
  outline: none;
}

// have views fill containing area
#container>div {
  min-height: 100%;
}

// class to add pointer icon
.clickable {
  cursor: pointer;
}

// animates the appearance of elements. place on containing elements of an ng-repeat
.list-animate {
  @include animate-appear();
}

.list-group-item-right {
  font-size: 2em;
  @include center-y;
  right: 12px;
}


// a little bigger button
@mixin btn-wide {
  padding-left: $dash-btn-wide;
  padding-right: $dash-btn-wide;
}

@mixin btn-wide-2x {
  padding-left: $dash-btn-wide-2x;
  padding-right: $dash-btn-wide-2x;
}

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight: normal;

$btn-default-color: #333;
$btn-default-bg: #fff;
$btn-default-border: #ccc;

$btn-primary-color: #fff;
$btn-primary-bg: $primary;
$btn-primary-border: darken($btn-primary-bg, 5%);

$btn-success-color: #fff;
$btn-success-bg: $success;
$btn-success-border: darken($btn-success-bg, 5%);

$btn-info-color: #fff;
$btn-info-bg: $info;
$btn-info-border: darken($btn-info-bg, 5%);

$btn-warning-color: #fff;
$btn-warning-bg: $warning;
$btn-warning-border: darken($btn-warning-bg, 5%);

$btn-danger-color: #fff;
$btn-danger-bg: $danger;
$btn-danger-border: darken($btn-danger-bg, 5%);

// Success appears as green
.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}

.btn-secondary {
  @include button-variant($dash-btn-secondary-color, $dash-btn-secondary-bg, $dash-btn-secondary-border);
}

.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

// Success appears as green
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}

// Info appears as blue-green
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}

// Warning appears as orange
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}

// Danger and error appear as red
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}

.btn-input {
  //@include button-variant($input-color; $input-bg; $input-border);
  color: $input-color !important;
  background-color: $input-bg !important;
  border-color: #ccc !important;

  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075));
}

.gap,
.button-row {
  margin-top: 3.5rem;
}

// // animation for screen transitions
// .screen-fade {
//     opacity: 1;
//     $fade-timing: 250ms;

//     @include transition(opacity $fade-timing ease-in-out);

//     &.ng-enter, &.ng-leave.ng-leave-active {
//         opacity: 0;
//     }
//     &.ng-enter.ng-enter-active {
//         opacity: 1;
//         @include transition-delay($fade-timing);
//     }
// }

.welcome-header {
  color: $dash-text-inverse;
  font-size: 1.5rem;
  position: relative;
  top: 5px;

  .fa-stack {
    cursor: pointer;

    .fa-circle {
      color: darken(#222, 20%);
      opacity: 0;
      @include transition(opacity .2s linear);
    }

    &:hover {
      .fa-circle {
        opacity: 1;
      }
    }
  }
}

// FORMS
// ========================================
// help blocks show validation errors but should start hidden
.form-group .help-block {
  display: none;
}

// show error
.form-group.has-error .help-block {
  display: block;
}

// wrap around a form control when in line with floated elements
.form-control-inline-container {
  display: block;
  overflow: hidden;
}

// makes smaller input items
.form-control-inline {

  width: auto;
  max-width: 100%;
  display: inline-block;
}

.form-control, .form-group
output {
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  display: block;
}

//
// ========================================
#header {
  color: $dash-header-text;
  display: block !important;
  background: $dash-header-bg;
  font-size: $dash-header-font-size;
  line-height: 48px;
  text-align: center;
  position: relative;
  margin-bottom: 50px;

  .dashboard-logo {
    background: url($dash-header-logo-url) no-repeat center center;
    background-size: contain;
    display: inline-block;
    position: absolute;
    left: $dash-header-logo-left;
    top: $dash-header-logo-top;
    width: $dash-header-logo-width;
    height: $dash-header-logo-height;


    &.dashboard-logo-inverse {
      background-image: url($dash-header-logo-inverse-url);
    }
  }

  // switch between pipeline view
  .pipeline-toggle {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .divider {
    width: 5px;
    height: auto;
    display: inline-block;
  }
}

#footer {
  display: block;
  position: fixed;
  bottom: 0;
  line-height: 2rem;
  width: 100%;
  text-align: center;
}

// WIDGET
// ========================================
.widget {
  padding: 2.5rem 3rem;
  @include border-radius($dash-widget-border-radius);

  .widget {
    margin-bottom: 2rem;
  }

  // heading in a widget
  .widget-heading {
    border-bottom: 1px solid $dash-widget-heading-border;
    color: $dash-widget-heading-text;
    letter-spacing: .1rem;
    padding-bottom: .5rem;
    margin-bottom: 1.75rem;

    @include text-lg;
    @include border-top-radius($dash-widget-border-radius);

    // the cog icon to open the config modal
    .widget-settings-icon {
      @include transition(color 300ms ease);

      &:hover {
        color: $dash-dashboard-text-hover;
      }
    }

    .last-updated {
      font-size: 1.1rem;
    }
  }

  .widget-heading-performance {
    border-bottom: 0px solid $dash-widget-heading-border;
    color: $dash-widget-heading-text;
    letter-spacing: .1rem;
    padding-bottom: .5rem;
    margin-bottom: 1.75rem;

    @include text-lg;
    @include border-top-radius($dash-widget-border-radius);

    .widget-settings-icon {
      @include transition(color 300ms ease);

      &:hover {
        color: $dash-dashboard-text-hover;
      }
    }

    .last-updated {
      font-size: 1.1rem;
    }
  }

  // sections of widgets should have the same widget markup
  // but may be styled slightly differently
  .widget-body .widget {
    padding: 0;

    .widget-heading {
      border-bottom-color: $dash-widget-sub-heading-border;
      @include text-standard;
      text-transform: uppercase;
    }
  }

  // when widget hasn't yet been configured
  .widget-body-config {
    background: $dash-widget-section-highlight;
    border: .5rem dashed $dash-state-config-text;
    border-radius: 1rem;
    color: $dash-state-config-text;
    display: none;
    font-size: 2rem;
    line-height: 2.4rem;
    margin: 1rem 0;
    padding: 2rem;
    text-align: center;

    .fa {
      border: 2px solid $dash-state-config-text;
      margin-bottom: .75rem;
      padding: .6rem .5rem;
      @include border-radius(50%);

      @include transition(border-color 300ms linear);
    }


    @include transition(#{"all 300ms linear"});
  }

  // changes when not yet configured
  &.configure {
    .widget-settings-icon {
      display: none;
    }

    .widget-body-main {
      display: none;
    }

    .widget-body-config {
      display: block;

      &:hover {
        background-color: $dash-state-config-bg-hover;
        border-color: $dash-state-config-text-hover;
        color: $dash-state-config-text-hover;

        .fa {
          border-color: $dash-state-config-text-hover;
        }
      }
    }
  }

  // // styles when in an alert state
  // &.alert {
  //     #gradient > @include vertical(lighten($dash-widget-alert-bg, 10%), darken($dash-widget-alert-bg, 10%));
  //     color: $dash-widget-alert-text;

  //     .widget-heading {
  //         border-bottom-color: $dash-widget-alert-heading-border;
  //         color: $dash-widget-alert-text;
  //     }
  // }
}

.cicd-modal-content {
  margin-left: 10%;
}

// WIDGET-MODAL
// ========================================
// config modal when markup is wrapped in a widget-modal directive
.widget-modal {
  padding: 1rem 5rem 3rem;

  .widget-modal-close {
    background: transparent;
    cursor: pointer;
    color: $gray-700;
    font-weight: bold;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border: 0;
    background-clip: padding-box;
    text-align: center;
    opacity: .7;
    font-size: 1.5em;
    line-height: 1em;
    @include transition(opacity .2s linear);

    &:hover {
      opacity: 1;
    }
  }

  .widget-modal-heading {
    border-bottom: 1px solid $dash-modal-heading-border;
    color: $dash-modal-heading-text;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    padding: 1rem;
    text-align: center;
  }

  .widget-modal-heading-markup {
    border-bottom: 1px solid $dash-modal-heading-border;
    padding-bottom: 8px;
  }

  .text-danger {
    color: #a94442 !important;
  }

  .text-success {
    color: #3c763d !important;
  }

  .fa,
  .glyphicon {
    color: $dash-modal-icon-text;
  }

  .btn .fa,
  .btn .glyphicon {
    color: inherit;
  }

  .widget-modal-body {
    .modal-label {
      font-weight: 600;
      width: 100%;
      text-align: center;
    }

    .widget-modal-divider,
    hr {
      border-bottom: 1px solid $dash-modal-divider;
      height: 1px;
    }
  }
}


// WIDGET-DETAIL
// ========================================
// styles for detail/expanded view modals
.widget-detail {
  padding: 1rem 5rem 3rem;
  @include text-lg;
  color: $dash-detail-heading-text;

  .widget-detail-heading {
    border-bottom: 1px solid $dash-detail-divider;
    margin-bottom: 3rem;
    padding: 1rem;
  }

  .widget-detail-body {
    .table {
      border-collapse: separate;

      th {
        @include text-standard;
        padding: 4px;
        font-weight: 900;
        border-bottom: 1px solid $dash-detail-divider;
        table-layout: fixed;
      }

      td {
        padding: 4px;
        word-wrap: break-word;
      }
    }
  }

  .detail-close {
    position: absolute;
    right: .4rem;
    top: .4rem;
    color: $dash-detail-icon-text;

    &:hover {
      color: lighten($dash-detail-icon-text, 50%);
    }
  }
}

tr.dash-row>td {
  border-top: none !important;
  padding: 0 !important;
  line-height: 3.25rem;
  vertical-align: middle !important;
}

.dash-row {
  $dash-row-height: 3.25rem;

  @include clearfix;
  line-height: $dash-row-height;
  vertical-align: middle;

  .fa {
    line-height: $dash-row-height;
    margin-right: .5rem;
  }

  &.clickable:hover {
    background-color: $dash-widget-section-highlight;
    color: $dash-dashboard-text;
  }

  // Added for bootstrap 4 compatibility
  color: $dash-dashboard-text;
}

// to be used with rows that have icons on the left or right and need the text to show as an
// ellipsis if it's too big. if icons on both sides the right icon should be before the element
// with this class
.dash-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dash-modal-row {
  border-top: 1px solid $dash-divider-light;
  padding: .8rem 0;

  &:first-of-type {
    border-top: none;
  }
}

.dash-progress-bar {
  $bar-height: 3rem;

  >div {
    float: left;
    height: $bar-height;
    //        margin-left: -$bar-height/2;

    @include border-right-radius($bar-height / 2);

    background-color: $dash-status-warn;
    z-index: 2;

    &:first-child {
      z-index: 3;
      background-color: $dash-status-pass;
    }

    &:last-child {
      z-index: 1;
      background-color: $dash-widget-section-highlight;
    }

  }
}


// DASH-STATUS
.dash-status {
  min-width: 3rem;
  text-align: center;

  .dash-status-pass {
    color: $dash-status-pass;
    @include text-lg;
  }

  .dash-status-warn {
    color: $dash-status-warn;
    @include text-lg;
  }

  .dash-status-fail {
    display: inline-block;
    font-weight: bold;
    width: 2rem;
    height: 2rem;
    background: $dash-status-fail;
    border: .2rem solid $dash-status-fail-border;
    color: $dash-status-fail-text;
    line-height: 1.75rem;
    @include border-radius(50%);
  }

  .dash-status-ignore {
    display: inline-block;
    font-weight: bold;
    width: 2rem;
    height: 2rem;
    background: $dash-status-ignore;
    border: .2rem solid $dash-status-ignore-border;
    color: $dash-status-ignore-text;
    line-height: 1.75rem;
    @include border-radius(50%);
  }

  .dash-status-critical {
    display: inline-block;
    font-weight: bold;
    width: 2rem;
    height: 2rem;
    background: black;
    border: .2rem solid $dash-status-fail-border;
    color: $dash-status-fail;
    line-height: 1.75rem;
    @include border-radius(50%);
  }
}

.dash-status-lg {
  .dash-status {
    margin: .1em 0;
  }

  .dash-status-fail {
    width: 2.75rem;
    height: 2.75rem;
    line-height: 2.4rem;
  }
}

.widget.alert .dash-status {
  .dash-status-pass {
    color: $dash-status-alert-pass !important;
  }

  .dash-status-warn {
    color: $dash-status-alert-warn !important;
  }

  .dash-status-fail {
    background-color: $dash-status-alert-fail !important;
  }
}

.widget-font-pass {
  color: $dash-status-pass !important;
}

.widget-font-fail {
  color: $dash-status-fail !important;
}

.widget-font-warn {
  color: $dash-status-warn !important;
}

.widget-font-bold {
  font-weight: bolder;
}


// ADMIN
// ========================================
#admin {
  padding-top: 5rem;

  .delete-dashboard-row {
    line-height: 4rem;
    padding: 1rem 0;
    font-size: 2rem;
  }

  .listDashboards {
    @include animate-appear();
  }

  .themes {
    position: absolute;
    top: 5rem;
    right: 2rem;
  }

  .cssConfigOdd {
    background-color: #e4e4e4;
  }

  .cssConfigEven {
    background-color: #e8e8e8;
  }

  .configApplyPadd {
    padding: 10px 0px 0px 0px;
  }

  .inputBoxStyle {
    border: 1px solid #0078d2;
  }

  .confHeaderIcon {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

  ul.tooltipList {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul.tooltipList li {
    margin: 0;
    padding: 0;
    text-align: left;
  }
}

// DASHBOARD
// ========================================
#dashboard {
  background: $dash-dashboard-bg;
  color: $dash-dashboard-text;

  // styles for chartist charts
  .ct-label {
    @include text-standard;
  }

  .ct-wrapper {
    position: relative;



    // better style donut charts
    &.dash-donut-wrapper {
      .ct-chart {
        margin-bottom: -50%;
      }

      .donut-number {
        width: 30%;
        height: 30%;
        left: 30%;
        top: 45%;
      }

      .donut-number-percent {
        left: 65%;
        top: 50%;
      }
    }

    // to show a number and percent inside a pie chart
    .donut-number {
      display: inline-block;
      width: 40%;
      height: 40%;
      top: 30%;
      left: 30%;
      text-align: center;
      position: absolute;
    }

    .guage-number {
      display: inline-block;
      width: 40%;
      bottom: 48%;
      left: 30%;
      text-align: center;
      position: absolute;
    }
  }
}

#auth {
  background-image: url('#{$dash-image-path}bg-forest.jpg');
  color: $dash-dashboard-text;
  padding-top: 50px;

  .auth-modal-tab {
    a {
      color: white;
    }

    &:hover a,
    &.active a {
      color: black;
    }
  }


  .auth-modal-heading {

    color: white;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    padding: 1rem;
    text-align: center;
  }

  .auth-modal-body {
    .modal-label {
      font-weight: 600;
      width: 100%;
      text-align: center;
    }
  }

  .auth-modal-footer {
    .top-buffer {
      margin-top: 20px;
      text-align: center;
    }

    .animate-hide {
      transition: all linear 0.5s;
      line-height: 20px;
      opacity: 1;
      padding: 10px;
      background: none;
    }

    .animate-hide.ng-hide {
      line-height: 0;
      opacity: 0;
      padding: 0 10px;
    }

    .check-element {
      padding: 10px;
      border: 1px solid black;
      background: none;
    }
  }

  .navbar {
    margin-bottom: 1.3em;
    background: transparent;
  }

  .navbar-default {
    border: none;
  }

  .navbar-toggle {
    border: rgba(0, 0, 0, 0.4);
  }

  .navbar-default .navbar-nav>li>a {
    color: #d7d7d7;
  }

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.cicd-gates {
  .na-gate {
    font-size: 2rem;
  }
}
