@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints";
@import 'variables.scss';

@mixin blink-keyframe(){
    @-webkit-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @-moz-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
@mixin border-radius($radius: 5px){
    @include border-top-radius($radius);
    @include border-bottom-radius($radius);
}

@mixin box-shadow($string){
    -webkit-box-shadow: $string;
    -moz-box-shadow: $string;
    box-shadow: $string;
}


@mixin animate-appear($speed: 200ms, $max-height:50px){
    .ng-enter,
    .ng-leave
    {
        transition: max-height $speed linear, opacity $speed linear $speed;
        position: relative;
        display: block;
        overflow: hidden;
        text-overflow: clip;
        white-space:nowrap;
    }

    .ng-leave.ng-leave-active,
    .ng-enter {
        opacity: .5;
        max-height: 0;
    }

    .ng-enter.ng-enter-active,
    .ng-leave {
        opacity: 1;
        max-height: $max-height;
    }
}

@mixin animate-fade($speed: .3s){
    .ng-enter,
    .ng-leave.ng-leave-active {
        opacity:0;
        transition:opacity $speed linear;
    }

    .ng-leave,
    .ng-enter.ng-enter-active {
        opacity:1;
        transition:opacity $speed linear;
    }
}

@mixin transform($transform){
    -ms-transform: $transform;
    -webkit-transform: $transform;
    -moz-transform: $transform;
    transform: $transform;
}

@mixin center-y(){
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
}

@mixin center-x(){
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
}

@mixin text($font-size, $line-height:$font-size){
    font-size: $font-size * 1rem;
    line-height: $line-height * 1rem
}

// TEXT
// ========================================
@mixin text-standard {
    @include text($dash-text-standard-size, $dash-text-standard-line-height);
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    white-space: nowrap;
}

@mixin text-standard-lg {
    @include text(1.7, 2.25);
}

.text-standard-date {
    @include text(1.2, 2);
    color: #aaa;
}

@mixin text-lg {
    @include text(1.7, 2.25);
}

@mixin text-1x {
    @include text(1, 2);
}

@mixin text-2x {
    @include text(2, 3.5);
}

@mixin text-2x-bold {
    @include text(2.5, 3);
    font-weight: bold;
    vertical-align: middle;
}
