/* markup specific to site.html view */
@import 'mixins';

#site {
    #filter {
        margin-bottom: 1rem;
    }

    .lstDashboards {
        @include animate-appear();
    }

    .dashboard-type-list {
        width: 100%;

        .btn {
            width: 33.333%;
            text-overflow: ellipsis;
            overflow: hidden;
            @include transition(#{"color .2s linear, background-color .2s linear"});
        }
    }

    .create-dashboard-button {
        margin-bottom: 2.5em;
    }

    .word-overflow-wrap {
        word-wrap: break-word;
    }
}
