@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints";
@import "../../../node_modules/bootstrap/scss/mixins/";
@import "../../../node_modules/bootstrap/scss/card";

$dash-image-path: "assets/img/";

// applied to all pages
$dash-bg: #f5f5f5;
$dash-text: $gray-600;
$dash-text-inverse: $dash-bg;

// used for hr tags or widgets to split sections or rows
$dash-divider: $dash-text;
$dash-divider-light: lighten($dash-text, 20%);

// custom values can be overridden on the dashboard page
$dash-dashboard-bg: $dash-bg;
$dash-dashboard-text: lighten($dash-text, 20%) !default;
$dash-dashboard-text-hover: $dash-text; // on hover, should stand out more than normal text
$dash-dashboard-text-light: $dash-text;

// styles for the brand header
$dash-header-bg: darken(#428bca, 6.5%); // #337ab7
$dash-header-text: #fff;
$dash-header-font-size: 2.5rem;

// dash secondary styles
$dash-btn-secondary-bg: darken($body-bg, 10%);
$dash-btn-secondary-border: lighten(#ccc, 20%);
$dash-btn-secondary-color: lighten($gray-700, 20%);

// logo
$dash-header-logo-url: '#{$dash-image-path}Hygieia_Logo.png';
$dash-header-logo-width: 135px;
$dash-header-logo-height: 35px;
$dash-header-logo-left: 10px;
$dash-header-logo-top: 8px;

$dash-header-logo-inverse-url: '#{$dash-image-path}Hygieia_Logo_white.png';

// logo for smaller screens
$dash-header-icon-url: '#{$dash-image-path}Hygieia_Logo.png';
$dash-header-icon-width: 41px;
$dash-header-icon-height: 48px;
$dash-header-icon-left: 60px;
$dash-header-icon-top: 10px;

// values for modals
$dash-modal-bg: $dash-bg;
$dash-modal-heading-text: $dash-dashboard-text;
$dash-modal-heading-border: $dash-dashboard-text;
$dash-modal-divider: $dash-dashboard-text;
$dash-modal-icon-text: $dash-dashboard-text;

// values for detail views
$dash-detail-heading-text: $dash-dashboard-text;
$dash-detail-heading-border: $dash-dashboard-text;
$dash-detail-icon-text: $dash-dashboard-text;
$dash-detail-divider: $dash-dashboard-text;

// when widget is in alert state
$dash-widget-alert-bg: $danger;
$dash-widget-alert-text: #a94442;
$dash-widget-alert-heading-border: #a94442;

// widget settings
$dash-widget-border-radius: .5rem;
$dash-widget-heading-border: $dash-divider;
$dash-widget-sub-heading-border: $dash-divider;
$dash-widget-heading-text: $dash-dashboard-text;
$dash-widget-section-highlight: #f5f5f5;

// widget when in configure state
$dash-state-config-bg: $dash-widget-section-highlight;
$dash-state-config-bg-hover: $dash-state-config-bg;
$dash-state-config-text: $dash-dashboard-text;
$dash-state-config-text-hover: $dash-state-config-text;

// dash-status colors
$dash-status-ignore: $gray-500;
$dash-status-ignore-border: darken($dash-status-ignore, 30%);
$dash-status-ignore-text: contrast($dash-status-ignore);
$dash-status-pass: $success;
$dash-status-warn: $warning;
$dash-status-fail: $danger;
$dash-status-fail-border: darken($dash-status-fail, 30%);
$dash-status-fail-text: contrast($dash-status-fail);

$dash-status-alert-ignore: $dash-status-ignore;
$dash-status-alert-pass: $dash-status-pass;
$dash-status-alert-warn: $dash-status-warn;
$dash-status-alert-fail: $dash-status-fail;


$dash-text-standard-size: 1.1;
$dash-text-standard-line-height: 1.2;

$dash-btn-wide: $btn-padding-x * 2;
$dash-btn-wide-2x: $dash-btn-wide * 2;

$white: #fff;


// TEMPORARILY PATCH DASH VALUES UNTIL THEMING IS BUILT
// DASH VARIABLES
// ========================================
$dash-text: #152131;
$dash-dashboard-bg: #060610;
$dash-dashboard-text: rgba(255, 255, 255, .8);
$dash-dashboard-text-hover: $white;

$dash-dashboard-text-light: rgba(180, 180, 180, .7);

$dash-divider: rgba(255, 255, 255, .50);
$dash-divider-light: rgba(0, 0, 0, .1);
$dash-widget-section-highlight: rgba(255, 255, 255, .15);

$dash-header-bg: $white;
$dash-header-text: $dash-text;
$dash-widget-heading-border: rgba(255, 255, 255, .5);
$dash-widget-sub-heading-border: rgba(255, 255, 255, .25);

$dash-modal-bg: #ececec;
$dash-modal-heading-text: $dash-text;
$dash-modal-heading-border: rgba(0, 0, 0, .35);
$dash-modal-divider: rgba(0, 0, 0, .25);
$dash-modal-icon-text: rgba(0, 0, 0, .5);

$dash-detail-heading-text: $dash-text;
$dash-detail-heading-border: rgba(0, 0, 0, .35);
$dash-detail-icon-text: rgba(0, 0, 0, .5);
$dash-detail-divider: rgba(0, 0, 0, .25);

$dash-widget-alert-bg: #ff5d56;
$dash-widget-alert-text: #000;
$dash-widget-alert-heading-border: rgba(0, 0, 0, .5);

$dash-status-pass: rgb(0, 204, 75);
$dash-status-warn: rgb(255, 189, 53);
$dash-status-fail: rgb(255, 93, 86);
$dash-status-fail-border: #000;
$dash-status-fail-text: #333;

$dash-status-alert-pass: #00a33c;
$dash-status-alert-fail: #cc4a45;

$dash-state-config-text: rgba(255, 255, 255, .6);
$dash-state-config-text-hover: rgba(255, 255, 255, .8);
$dash-state-config-bg: rgba(255, 255, 255, .15);
$dash-state-config-bg-hover: rgba(255, 255, 255, .30);

$dash-chart-alt-color: #dffaff;
$dash-chart-alt-fill: #65b7c9;
$dash-chart-halo-color: $white;
$dash-chart-area-opacity: 1;
$dash-chart-point-size: 5px;
$dash-chart-grid: $dash-divider;

$state-danger-text: $dash-status-alert-fail;
$state-success-text: $dash-status-alert-pass;
