<widget-modal widget-modal-close="true">
    <div class="widget-detail repo-detail">
        <div class="widget-detail-body">
            <table class="table" ng-show="detail.commits.length">
                <label class="modal-label" ng-show="detail.commits.length">Commits</label>
                <thead>
                <tr>
                    <th>Revision</th>
                    <th>Author</th>
                    <th>Message</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="commit in detail.commits">
                    <td>{{::commit.scmRevisionNumber | limitTo:8}}</td>
                    <td>{{::commit.scmAuthor}}</td>
                    <td>{{::commit.scmCommitLog}}</td>
                    <td>{{::commit.scmCommitTimestamp | date:'MMM d, HH:mm:ss'}}</td>
                </tr>
                </tbody>
            </table>
            <table class="table" ng-show="detail.pulls.length">
                <label class="modal-label" ng-show="detail.pulls.length">Pulls</label>
                <thead>
                <tr>
                    <th>Number</th>
                    <th>Author</th>
                    <th>Message</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pull in detail.pulls">
                    <td>{{::pull.number | limitTo:8}}</td>
                    <td>{{::pull.userId}}</td>
                    <td>{{::pull.scmCommitLog}}</td>
                    <td>{{::pull.createdAt | date:'MMM d, HH:mm:ss'}}</td>
                </tr>
                </tbody>
            </table>
            <table class="table" ng-show="detail.issues.length">
                <label class="modal-label" ng-show="detail.issues.length">Issues</label>
                <thead>
                <tr>
                    <th>Number</th>
                    <th>Author</th>
                    <th>Message</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="issue in detail.issues">
                    <td>{{::issue.number | limitTo:8}}</td>
                    <td>{{::issue.userId}}</td>
                    <td>{{::issue.scmCommitLog}}</td>
                    <td>{{::issue.createdAt | date:'MMM d, HH:mm:ss'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</widget-modal>