
<div class="widget-detail repo-detail" ng-model="repoView.detail">
    <a href="" class="detail-close" ng-click="detail.close()"><span class="fa fa-2x fa-times-circle-o"></span></a>
    <div class="widget-detail-body">
        <span class="no-changesets" ng-hide="detail.commits.length">No Changes</span>
        <table class="table" ng-show="detail.commits.length">
            <thead>
            <tr>
                <th>Revision</th>
                <th>Author</th>
                <th>Message</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="commit in detail.commits">
                <td>{{::commit.scmRevisionNumber | limitTo:8}}</td>
                <td>{{::commit.scmAuthor}}</td>
                <td>{{::commit.scmCommitLog}}</td>
                <td>{{::commit.scmCommitTimestamp | date:'MMM d, HH:mm:ss'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>