<div class="organization-view">
    <!--div class="widget">
        <div class="widget-heading">
            organizations per day
        </div>
        <div class="widget-body">
            <chartist class="ct-chart ct-octave dash-chart-alt"
                      chartist-chart-type="Bar"
                      chartist-data="organizationView.organizationChartData"
                      chartist-chart-options="organizationView.organizationChartOptions"
                      chartist-events="organizationView.organizationChartEvents"
            >
            </chartist>
        </div>
    </div-->

    <div class="widget">
        <div class="widget-heading">
            Contributions Ranked by LOB
        </div>
        <div class="widget-body">
            <table class="table organization-summary-table">
                <tr>
                    <td>Total Pulls</td>
                    <td>{{organizationView.TopRankedTotal}}</td>
                </tr>
                <tr>
                    <td>{{organizationView.TopRanked1}}</td>
                    <td>{{organizationView.TopRankedTotal1}}</td>
                </tr>
                <tr>
                    <td>{{organizationView.TopRanked2}}</td>
                    <td>{{organizationView.TopRankedTotal2}}</td>
                </tr>
                <tr>
                    <td>{{organizationView.TopRanked3}}</td>
                    <td>{{organizationView.TopRankedTotal3}}</td>
                </tr>
                <tr>
                    <td>{{organizationView.TopRanked4}}</td>
                    <td>{{organizationView.TopRankedTotal4}}</td>
                </tr>
                <tr>
                    <td>{{organizationView.TopRanked5}}</td>
                    <td>{{organizationView.TopRankedTotal5}}</td>
                </tr>
                <tr>
                    <td>{{organizationView.TopRanked6}}</td>
                    <td>{{organizationView.TopRankedTotal6}}</td>
                </tr>
                <tr>
                    <td>{{organizationView.TopRanked7}}</td>
                    <td>{{organizationView.TopRankedTotal7}}</td>
                </tr>
                <tr>
                    <td>{{organizationView.TopRanked8}}</td>
                    <td>{{organizationView.TopRankedTotal8}}</td>
                </tr>
                <tr>
                    <td>{{organizationView.TopRanked9}}</td>
                    <td>{{organizationView.TopRankedTotal9}}</td>
                </tr>
                <tr>
                    <td>{{organizationView.TopRanked10}}</td>
                    <td>{{organizationView.TopRankedTotal10}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
