<div class="leveltwomanager-view">
    <!--div class="widget">
        <div class="widget-heading">
            leveltwomanagers per day
        </div>
        <div class="widget-body">
            <chartist class="ct-chart ct-octave dash-chart-alt"
                      chartist-chart-type="Bar"
                      chartist-data="leveltwomanagerView.leveltwomanagerChartData"
                      chartist-chart-options="leveltwomanagerView.leveltwomanagerChartOptions"
                      chartist-events="leveltwomanagerView.leveltwomanagerChartEvents"
            >
            </chartist>
        </div>
    </div-->

    <div class="widget">
        <div class="widget-heading">
            Contributions Ranked by Level Two Manager
        </div>
        <div class="widget-body">
            <table class="table leveltwomanager-summary-table">
                <tr>
                    <td>Total Pulls</td>
                    <td>{{leveltwomanagerView.TopRankedTotal}}</td>
                </tr>
                <tr>
                    <td>{{leveltwomanagerView.TopRanked1}}</td>
                    <td>{{leveltwomanagerView.TopRankedTotal1}}</td>
                </tr>
                <tr>
                    <td>{{leveltwomanagerView.TopRanked2}}</td>
                    <td>{{leveltwomanagerView.TopRankedTotal2}}</td>
                </tr>
                <tr>
                    <td>{{leveltwomanagerView.TopRanked3}}</td>
                    <td>{{leveltwomanagerView.TopRankedTotal3}}</td>
                </tr>
                <tr>
                    <td>{{leveltwomanagerView.TopRanked4}}</td>
                    <td>{{leveltwomanagerView.TopRankedTotal4}}</td>
                </tr>
                <tr>
                    <td>{{leveltwomanagerView.TopRanked5}}</td>
                    <td>{{leveltwomanagerView.TopRankedTotal5}}</td>
                </tr>
                <tr>
                    <td>{{leveltwomanagerView.TopRanked6}}</td>
                    <td>{{leveltwomanagerView.TopRankedTotal6}}</td>
                </tr>
                <tr>
                    <td>{{leveltwomanagerView.TopRanked7}}</td>
                    <td>{{leveltwomanagerView.TopRankedTotal7}}</td>
                </tr>
                <tr>
                    <td>{{leveltwomanagerView.TopRanked8}}</td>
                    <td>{{leveltwomanagerView.TopRankedTotal8}}</td>
                </tr>
                <tr>
                    <td>{{leveltwomanagerView.TopRanked9}}</td>
                    <td>{{leveltwomanagerView.TopRankedTotal9}}</td>
                </tr>
                <tr>
                    <td>{{leveltwomanagerView.TopRanked10}}</td>
                    <td>{{leveltwomanagerView.TopRankedTotal10}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
