<div class="log-view">
    <div class="widget">
        <div class="widget-heading">
            Number of Log events
        </div>
        <div class="widget-body">
            <chartist class="commit-view ct-octave dash-chart-alt"
                      chartist-chart-type="Line"
                      chartist-data="logView.combinedChartData"
                      chartist-chart-options="logView.combinedChartOptions"
                      chartist-events="logView.logEvents"
            >
            </chartist>
        </div>
    </div>
</div>