<footer class="bs-docs-footer">
  <div class"container-fluid">
    <ul class="bs-docs-footer-links">
      <li><a href="{{ site.repo }}">GitHub</a>&nbsp;&nbsp;&nbsp;</li>
      <li><a href="https://gitter.im/capitalone/Hygieia?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge">Gitter Chat &nbsp;&nbsp;&nbsp;&nbsp;
   </li>
      <li><a href="https://www.codacy.com/app/amit-mawkin/Hygieia/dashboard">Codacy&nbsp;&nbsp;&nbsp;</a>
      <li><a href="../contact.html">Contact Us &nbsp;&nbsp;&nbsp</a></li>
</ul>

    <p> Maintained by Capital One Hygieia Team</a> with the help of <a href="{{ site.repo }}/contributors">our contributors</a>.</p>
  </div>
</footer>
