<li>
  <a href="#build_hygieia">Build Hygieia</a>

</li>
<li>
  <a href="#setup_instructions">Setup Instructions</a>
	<ul class="nav">
	    <li><a href="#database">Database</a></li>
	    <li><a href="#ui_layer">UI Layer</a></li>
	    <li><a href="#api_layer">API</a></li>
	    <li><a href="#tool_collectors">Tool Collectors</a></li>
	    <li><a href="#plugin_webhook">Plugin / Webhook</a></li>
      <li><a href="#configure_proxy">Configure Proxy</a></li>
      <li><a href="#build_docker_images">Build Docker images and setup id for mongodb</a></li>
      <li><a href="#how_to_setup_test_data">How to setup test data</a></li>
	  </ul>
</li>
