<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
     <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Hygieia</a>
        </div>
        <nav id="bs-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <li><a href="getting_started.html">Getting Started</a></li>
                <li><a href="ui.html">UI</a></li>
                <li><a href="api.html">API </a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Collectors
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="chatops_collector.html">ChatOps</a></li>
                      <li><a href="githubsourcecode_collector.html">GithubSourceCode</a></li>
                      <li><a href="jenkinsbuild_collector.html">Jenkins Build</a></li>
                      <li><a href="jenkinscucumbertest_collector.html">Jenkins Cucumber Test</a></li>
                      <li><a href="jirafeature_collector.html">Jira Feature</a></li>
                      <li><a href="sonarcodequality_collector.html">SONAR CodeQuality</a></li>
                      <li><a href="stashsourcecode_collector.html">StashSourceCode</a></li>
                      <li><a href="subversionsourcecode_collector.html">SubversionSourceCode</a></li>
                      <li><a href="udeploy_collector.html">UDeploy</a></li>
                      <li><a href="versionone_collector.html">VersionOne</a></li>
                    </ul>
                  </li>

                <li><a href="plugin_webhook.html">Plugin WebHook</a></li>
                <li><a href="contact.html">Contact us</a></li>
            </ul>
        </nav>
    </div>
</header>
