<li>
  <a href="#principles">Principles of Innersourcing</a>
	<ul class="nav">
	    <li><a href="#communication">Communication</a></li>
	    <li><a href="#transparency">Transparency</a></li>
	    <li><a href="#collaboration">Collaboration</a></li>
			<li><a href="#communnity">Community</a></li>
	    <li><a href="#meritocracy">Meritocracy</a></li>
	  </ul>
</li>
<li>
  <a href="#dimensions">Dimensions of Innersourcing</a>
	<ul class="nav">
			<li><a href="#culture">Culture</a></li>
			<li><a href="#process">Process</a></li>
			<li><a href="#tools">Tools</a></li>
		</ul>
</li>
<li><a href="#benefits">Benefits of Innersourcing</a></li>
