<widget-modal widget-modal-title="Configure Code Analysis Widget" class="ca-config">
    <form name="configForm" role="form"
          ng-submit="caWidget.submit(caWidget.caCollectorItem, caWidget.saCollectorItem, caWidget.testConfigs)"
          novalidate="novalidate">
        <div class="text-center form-group">Static Code Analysis:</div>

        <div class="form-group text-center">
            <select name="caCollectorItem"
                    class="form-control"
                    ng-model="caWidget.caCollectorItem"
                    ng-options="(item.collector.name + ' - ' + item.description) for item in caWidget.caJobs | orderBy:['collector.name','description'] track by item.id"
                    ng-disabled="caWidget.caJobs.length === 0">
                <option value="">{{caWidget.caToolsDropdownPlaceholder}}</option>
            </select>
        </div>

        <div class="text-center form-group">Security Scan:</div>
        <div class="form-group text-center">
            <select name="saCollectorItem"
                    class="form-control"
                    ng-model="caWidget.saCollectorItem"
                    ng-options="(item.collector.name + ' - ' + item.options.projectName + '-' + item.options.projectversion) for item in caWidget.saJobs | orderBy:['collector.name','description'] track by item.id"
                    ng-disabled="caWidget.saJobs.length === 0">
                <option value="">{{caWidget.saToolsDropdownPlaceholder}}</option>
            </select>
        </div>


        <div class="form-group text-center">Tests:</div>
        <div class="form-group text-center" ng-repeat="configItem in caWidget.testConfigs">
            <div class="col-sm-11">
                <select class="form-control" name="collectorItemList"
                        ng-model="configItem.testCollectorItem"
                        ng-options="(item.collector.name + ' - ' + item.description) for item in configItem.testJob | orderBy:['collector.name','description'] track by item.id"
                        ng-disabled="caWidget.testJobs.length === 0">
                    <option value="">{{caWidget.testToolsDropdownPlaceholder}}</option>
                </select>
            </div>
            <div class="col-sm-1">
                <a class="fa fa-minus-circle fa-2x clickable" ng-click="caWidget.deleteTestConfig(item)"></a>
            </div>
        </div>
        <div class="form-horizontal text-center">
            <i class="fa fa-plus-circle fa-2x clickable" ng-click="caWidget.addTestConfig()"></i>
        </div>

        <div class="form group text-center">
            <label></label>
            <button type="submit" class="btn btn-primary btn-wide">Save</button>
        </div>
    </form>
</widget-modal>