<widget-modal widget-modal-close="true">
    <div class="widget-detail">
        <div class="widget-detail-heading">
            <div class="row">
                <div class="col-md-4 build-time">
                    <span>{{libraryPolicyDetails.type}} Policy Violations</span>
                </div>
                <div class="col-md-4 build-time">
                    <span>Report Date: {{libraryPolicyDetails.libraryPolicyResult.timestamp | date:'MMM d, HH:mm:ss'}}</span>
                </div>
                <div class="col-md-3 view-in-tool pull-right">
                    <a ng-href="{{::libraryPolicyDetails.libraryPolicyResult.reportUrl}}" target="_blank" rel="noopener noreferrer">
                        View Report <span class="fa fa-angle-right"></span>
                    </a>
                </div>
            </div>
        </div>


        <div class="widget-detail-body">

            <div class="dash-row" data-ng-init="levels=['Critical','High','Medium','Low']">
                <div ng-repeat="level in levels">
                    <span class="pull-left widget-font-bold widget-heading"></span>
                    <span class="pull-left widget-font-bold">{{level}} (Total Count: {{libraryPolicyDetails.getLevelCount(level)}})</span>
                    <table class="table">
                        <tbody ng-repeat="component in libraryPolicyDetails.getDetails(level)" ng-class-odd="'alt'">
                        <tr id="component">
                            <td><span dash-status="{{getDashStatus(level)}}"></span></td>
                            <td>{{component}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</widget-modal>
