$gradient-blue: linear-gradient(to top right, #6bd1f9 0%, #54a4fb 100%);
$gradient-blue-green: linear-gradient(to top right, #69d1f8 0%, #59e6c8 100%);
$gradient-blue-red: linear-gradient(to top right, #50a1f9 0%, #f96f50 100%);
$gradient-blue-purple: linear-gradient(to top right, #73bef4 0%, #aa90ed 100%);
$gradient-red-orange: linear-gradient(to top right, #fc7c5f 0%, #fcbc5a 100%);
$gradient-orange-purple: linear-gradient(to top right, #f5cc98 0%, #ae94ec 100%);

$bg-radial-1: radial-gradient(ellipse farthest-corner at center top, #1e283e 0%, #1b1e27 100%);
$bg-radial-2: radial-gradient(ellipse farthest-corner at center top, rgba(33, 39, 54, 1.0) 0%, rgba(27, 31, 41, 1.0) 100%);

$bg-linear-1: linear-gradient(to top right, #1b1e27 0%, #2a2f40 100%);
$bg-linear-2: linear-gradient(to top right, #1b1e27 0%, #1f2a40 100%);
