<widget-modal widget-modal-title="Configure Cloud Widget" class="cloud-config">
    <form name="cloudConfigForm" role="form" ng-submit="cloudConfig.submit(cloudConfigForm.$valid)" novalidate="novalidate">
        <form-group class="text-center" input="name" errors="{required: 'Please enter an account number'}">
            <label class="modal-label">Account number</label>
            <input
                    type="text"
                    name="accountNumber"
                    class="form-control-inline text-center"
                    ng-model="cloudConfig.accountNumber"
                    required>
        </form-group>

        <div class="button-row row text-center">
            <button type="submit" class="btn btn-primary btn-wide">Save</button>
        </div>
    </form>
</widget-modal>

