<div>
    <div class="container-fluid pipeline-toggle btn-group" ng-click="cloudView.toggleView()">
        <span class="btn" ng-class="{'btn-primary':!cloudView.isDetail, 'btn-default': cloudView.isDetail}">
            <span class="fa fa-th-large"></span>
            Overview
            </span>
        <span class="btn" ng-class="{'btn-primary':cloudView.isDetail, 'btn-default': !cloudView.isDetail}">
            <span class="fa fa-tasks"></span>
            Detail
            </span>
    </div>

    <div class="container-fluid" ng-if="!cloudView.isDetail">
        <h3>Your Account Overview</h3>
        <hr>

        <div class="row">

            <div class="col-md-3">
                <div class="progress progress-headers">
                    <div class="progress-bar progress-bar-info" style="width: 20%;"><span class="fa fa-server header-icon"></span></div>
                    <h3 class="info-icon-label text-primary">&nbsp&nbsp&nbsp&nbspTotal Instances 3,015</h3>
                </div>
            </div>

            <div class="col-md-3">
                <div class="progress progress-headers">
                    <div class="progress-bar progress-bar-success" style="width: 20%;"><span class="fa fa-arrow-up header-icon"></span></div>
                    <h3 class="info-icon-label text-primary">&nbsp&nbsp&nbsp&nbspInstances Running 1,900</h3>
                </div>
            </div>

            <div class="col-md-3">
                <div class="progress progress-headers">
                    <div class="progress-bar progress-bar-warning" style="width: 20%;"><span class="fa fa-line-chart header-icon"></span></div>
                    <h3 class="info-icon-label text-primary">&nbsp&nbsp&nbsp&nbspUsage Growth 20%</h3>
                </div>
            </div>

            <div class="col-md-3">
                <div class="progress progress-headers">
                    <div class="progress-bar progress-bar-danger" style="width: 20%;"><span class="fa fa-usd header-icon"></span></div>
                    <h3 class="info-icon-label text-primary">&nbsp&nbsp&nbsp&nbspAvg Monthly Cost $800,000</h3>
                </div>
            </div>

        </div>
    </div>


    <div class="container-fluid" ng-if="cloudView.isDetail">
        <h3>Your Tag Detail</h3>
        <hr>

        <div class="row">

            <div class="col-md-3">
                <div class="progress progress-headers">
                    <div class="progress-bar progress-bar-info" style="width: 20%;"><span class="fa fa-server header-icon"></span></div>
                    <h3 class="info-icon-label text-primary">&nbsp&nbsp&nbsp&nbspEC2 {{cloudView.instancesByTag.length}}</h3>
                </div>
            </div>

            <div class="col-md-3">
                <div class="progress progress-headers">
                    <div class="progress-bar progress-bar-success" style="width: 20%;"><span class="fa fa-database header-icon"></span></div>
                    <h3 class="info-icon-label text-primary">&nbsp&nbsp&nbsp&nbspStorage N/A</h3>
                </div>
            </div>

            <div class="col-md-3">
                <div class="progress progress-headers">
                    <div class="progress-bar progress-bar-warning" style="width: 20%;"><span class="fa fa-usd header-icon"></span></div>
                    <h3 class="info-icon-label text-primary">&nbsp&nbsp&nbsp&nbspCost/Day N/A</h3>
                </div>
            </div>

            <div class="col-md-3">
                <div class="progress progress-headers">
                    <div class="progress-bar progress-bar-danger" style="width: 20%;"><span class="fa fa-line-chart header-icon"></span></div>
                    <h3 class="info-icon-label text-primary">&nbsp&nbsp&nbsp&nbspUtilization {{cloudView.calculateUtilization() | number:1}}%</h3>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div>
                    <div>
                        <div class="pull-right"><label>Search: <input type="text" class="form-control" placeholder="Enter a value" ng-model="cloudView.searchFilter"/></label></div>
                        <div>
                            <div>
                                <table class="table widget-striped">
                                    <thead>
                                    <tr class="widget-font-bold">
                                        <th ng-click="cloudView.changeSortDirection('instanceId')">Instance ID&nbsp;
                                            <span ng-class="'fa fa-' + cloudView.getSortDirection('instanceId')"></span></th>
                                        <th ng-click="cloudView.changeSortDirection('instanceType')">Type&nbsp;
                                            <span ng-class="'fa fa-' + cloudView.getSortDirection('instanceType')"></span></th>
                                        <th ng-click="cloudView.changeSortDirection('imageId')">AMI&nbsp;
                                            <span ng-class="'fa fa-' + cloudView.getSortDirection('imageId')"></span></th>
                                        <th ng-click="">Days Left</th>
                                        <th ng-click="">IP Address</th>
                                        <th ng-click="">VPC ID</th>
                                        <th ng-click="">Status</th>
                                        <th ng-click="">NOTT</th>
                                        <th ng-click="">Monitored</th>
                                        <th ng-click="">Utilization</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="instance in cloudView.instancesByAccount | orderBy:cloudView.sortType | filter:cloudView.searchFilter">
                                        <td>{{instance.instanceId}}</td>
                                         <td>{{instance.instanceType}}</td>
                                        <td ng-class="'widget-font-' + cloudView.checkImageAgeStatus(instance.imageExpirationDate)">
                                             {{instance.imageId}}
                                         </td>
                                         <td ng-class="'widget-font-' + cloudView.checkImageAgeStatus(instance.imageExpirationDate)">
                                             {{cloudView.getDaysToExpiration(instance.imageExpirationDate)}}
                                         </td>
                                         <td>{{instance.privateIp}}</td>
                                         <td>{{instance.subnetId}}</td>
                                         <td ng-bind="instance.stopped == false ? 'running' : 'stopped'"></td>
                                         <td ng-class="'widget-font-' + (cloudView.checkNOTTDisabledStatus(instance.tags) == true ? 'fail': 'pass')"
                                             ng-bind="cloudView.checkNOTTDisabledStatus(instance.tags) ? 'disabled' : 'enabled'"></td>
                                         <td ng-class="'widget-font-' + cloudView.checkMonitoredStatus(instance.monitored)">
                                             {{instance.monitored}}
                                         </td>
                                         <td ng-class="'widget-font-' + cloudView.checkUtilizationStatus(instance.cpuUtilization)">
                                             {{instance.cpuUtilization | number:1}}%
                                         </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

