<div class="widget">
    <div class="widget-heading">
        Latest Builds
    </div>
    <div >
        <div class="widget-body latest-builds">
            <table class="table table-hover">
                <tr class="dash-row clickable" *ngFor="let build of data">
                    <td *ngIf="build.status==='success'"><span class="fa fa-check" style="color:green"></span></td>
                    <td *ngIf="build.status!=='success' && build.status != 'inprogress'"><span
                            class="fa fa-exclamation-circle" style="color:red"></span></td>
                    <td *ngIf="build.status=='inprogress'"><span
                            class="fa fa-refresh fa-spin product-text-active"></span></td>
                    <td><span class="build-number">{{build.number}}</span></td>
                    <td><span class="text-standard-date">{{build.endTime | timeAgo}}</span></td>
                    <td><span class="build-chevron pull-right fa fa-lg fa-angle-right"></span></td>
                </tr>
            </table>
        </div>
    </div>
</div>
