@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/assets/font_src/material_icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: url(/assets/font_src/material_icons/iconfont/MaterialIcons-Regular.woff2)
      format("woff2"),
    url(/assets/font_src/material_icons/iconfont/MaterialIcons-Regular.woff)
      format("woff"),
    url(/assets/font_src/material_icons/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2)
      format("woff2"),
    url(/assets/font_src/material_icons/iconfont/MaterialIcons-Regular.ttf)
      format("truetype");
  /* src: url(assets/font_src/material_icons/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2'); */
} /* fallback */

/*local('Material Icons'),
         local('MaterialIcons-Regular'), */

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  -webkit-font-feature-settings: "liga";
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
