<widget-modal widget-modal-close="true">
    <div class="widget-detail pull-detail">
        <div class="widget-detail-body">
            <span class="no-changesets" ng-hide="detail.pulls.length">No Changes</span>
            <table class="table" ng-show="detail.pulls.length">
                <thead>
                <tr>
                    <th>Number</th>
                    <th>RepoName</th>
                    <th>Title of PR</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pull in detail.pulls">
                    <td>{{::pull.number | limitTo:8}}</td>
                    <td>{{::pull.repoName}}</td>
                    <td>{{::pull.scmCommitLog | date:'MMM d, HH:mm:ss'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</widget-modal>
