<widget-modal widget-modal-close="true">
    <div class="widget-detail rally-graph-detail">
        <div class="widget-body">
        <div class="widget-modal-heading ng-binding">ITERATION BURNDOWN</div>
                      <canvas id="base"  width="200" height="150" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-colors="colors"
                      chart-click="onClick" chart-hover="onHover" chart-series="series" chart-options="options"
                      chart-dataset-override="datasetOverride"></canvas>
        </div>
    </div>
</widget-modal>
