<widget-modal widget-modal-title="Add service account">
    <form name="cdf" class="form" ng-submit="ctrl.submit(cdf)" novalidate>
        <form-group input="serviceAccount" errors="{required: 'service-account name is required'}">
            <label class="modal-label">Service account</label>
            <input
                    type="text"
                    name="serviceAccount"
                    class="form-control"
                    placeholder="Service account"
                    ng-model="ctrl.serviceAccount"
                    required
                    maxlength="50"
                    autocomplete="off"
                    minlength="6"/>
            <span class="text-danger"></span>
        </form-group>

        <form-group input="fileNames" errors="{required: 'file name is required'}">
            <label class="modal-label">File Names</label>
            <input
                    type="text"
                    name="fileNames"
                    class="form-control"
                    placeholder="File names"
                    ng-model="ctrl.fileNames"
                    required
                    maxlength="50"
                    autocomplete="off"/>
            <span class="text-danger"></span>
        </form-group>

        <div class="button-row row text-center">
            <button type="submit" class="btn btn-primary btn-wide">Save</button>
        </div>
    </form>
</widget-modal>