<ng-include src="ctrl.templateUrl"></ng-include>

<div id="admin">

    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" ng-class="{active:tab === 'dashboards'}"><a href ng-click="navigateToTab('dashboards')">Edit Dashboards</a></li>
        <li role="presentation" ng-class="{active:tab === 'users'}"><a href ng-click="navigateToTab('users')">Manage Admins</a></li>
        <li role="presentation" ng-class="{active:tab === 'apitokens'}"><a href ng-click="navigateToTab('apitokens')">Generate ApiTokens</a></li>
        <li role="presentation"  ng-class="{active:tab === 'templates'}"><a href ng-click="navigateToTab('templates')">Manage Templates</a></li>
      </ul>
    </div>

    <div class="container-fluid">
        <div class="col-md-8">
          <div ng-show="tab === 'dashboards'">
              <div class="widget-modal">
                  <div class="widget-modal-heading">
                      Rename/Delete Dashboard
                  </div>
                  <div class="widget-modal-body">
                      <div class="row">
                          <div class="col-xs-push-2 col-xs-8">
                              <div class="text-center" ng-hide="ctrl.dashboards">Loading Dashboards...</div>

                              <div class="list-animate">
                                  <div class="dash-modal-row delete-dashboard-row clearfix"
                                      ng-repeat="item in ctrl.dashboards | orderBy:'name'">
                                      <div title="{{item.name}}" class="btn-block">{{item.name |  trunText:30}}
                                          <dash-trash class="clickable pull-right" ng-click="ctrl.deleteDashboard(item.id)"></dash-trash>
                                          <dash-edit class="clickable pull-right" ng-click="ctrl.editDashboard(item)"></dash-edit>
                                      </div>
                                  </div>
                              </div>

                              <div class="text-center" ng-show="ctrl.dashboards && !ctrl.dashboards.length">
                                  No results
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>

            <div ng-show="tab === 'templates'">
                <div class="widget-modal">
                    <div class="widget-modal-heading">
                        Manage Templates
                    </div>
                    <div class="widget-modal-body">

                        <div class="row gap">
                            <div class="col-sm-4 col-sm-push-8 text-center">
                                <div>
                                    <div class="create-dashboard-button btn btn-default btn-wide-2x" ng-click="ctrl.goToManager()">
                                        <span class="fa fa-stack fa-lg">
                                            <span class="fa-circle-thin fa-stack-2x"></span>
                                            <span class="fa-plus fa-stack-1x"></span>
                                        </span>
                                        <br/>
                                        Create a new<br/>template
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8 col-sm-pull-4">
                                <div>
                                    <ul class="list-animate list-group text-left">
                                        <li class="list-group-item" ng-repeat="myitem in ctrl.templates" >
                                    <span class="pull-right">
                                         <a href ng-click="ctrl.editTemplate(myitem)">
                                           <span class="fa fa-lg fa-edit "></span>
                                       </a>
                                       <a href ng-click="ctrl.deleteTemplate(myitem)">
                                           <span class="fa fa-lg fa-trash text-danger"></span>
                                       </a>
                                    </span>

                                            <a class="btn-block clickable" ng-click="ctrl.viewTemplateDetails(myitem)">
                                                <span class="fa fa-lg left-icon" ></span>
                                                {{ myitem.template }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="tab === 'users'">
                <div class="widget-modal">
                    <div class="widget-modal-heading">
                        Manage Admins
                    </div>
                    <div class="widget-modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="text-center" ng-hide="users">Loading Users...</div>
                                <div ng-show="error">
                                  {{error.data}}
                                </div>

                                <div class="row">
                                  <div class="col-xs-5">
                                    <h3>Users</h3>
                                    <input type="text" class="form-control" id="userSearch" placeholder="Filter Users" ng-model="userSearch">

                                    <div class="dash-modal-row delete-dashboard-row clearfix"
                                        ng-repeat="user in users | filter:{username:userSearch, authorities:'!ROLE_ADMIN'} | orderBy:'username'">
                                        <div class="btn-block">
                                          <span class="label label-primary" ng-show="isActiveUser(user)">You</span>
                                          {{user.username}}
                                          <span class="badge">{{user.authType}}</span>
                                          <div title="Promote User" class="clickable pull-right" ng-click="promoteUserToAdmin(user)">
                                            <span class="clickable fa fa-stack">
                                                <span class="fa-circle-thin fa-stack-2x text-success"></span>
                                                <span class="fa-angle-right fa-stack-1x text-success"></span>
                                            </span>
                                          </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="col-xs-push-2 col-xs-5">
                                    <h3>Admins</h3>
                                    <div class="dash-modal-row delete-dashboard-row clearfix"
                                        ng-repeat="user in users | orderBy:'username' | filter:{authorities:'ROLE_ADMIN'} as filteredAdmins">
                                        <div class="btn-block">
                                          <span class="label label-primary" ng-show="isActiveUser(user)">You</span>
                                          {{user.username}}
                                          <span class="badge">{{user.authType}}</span>
                                          <div title="Demote User" ng-show="filteredAdmins.length > 1" class="clickable pull-right" ng-click="demoteUserFromAdmin(user)">
                                            <span class="clickable fa fa-stack">
                                                <span class="fa-circle-thin fa-stack-2x text-danger"></span>
                                                <span class="fa-angle-left fa-stack-1x text-danger"></span>
                                            </span>
                                          </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="text-center" ng-show="users && !users.length">
                                    No results
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            <div ng-show="tab === 'apitokens'">
                <div class="widget-modal">
                    <div class="widget-modal-heading">
                        Generate Api Tokens
                    </div>
                    <div class="widget-modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="text-center" ng-hide="apitokens">Loading Api Tokens...</div>
                                <div ng-show="error">
                                    {{error.data}}
                                </div>

                                <div class="row">
                                    <div class="col-xs-15">

                                        <div class="btn-block col-xs-15">
                                            <span class="col-xs-3"><h3>Api User</h3></span>
                                            <span class="col-xs-3"><h3>Expiration Date</h3></span>
                                            <span class="col-xs-6"><button type="button" class="btn btn-primary btn-wide pull-right" ng-click="ctrl.generateToken()">New</button>
                                            </span>
                                        </div>

                                        <input type="text" class="form-control" id="tokenSearch" placeholder="Filter Api Users" ng-model="tokenSearch">

                                        <div class="dash-modal-row delete-dashboard-row clearfix"
                                             ng-repeat="apitoken in apitokens | filter:{apiUser:tokenSearch} | orderBy:'apiUser'">
                                            <div class="btn-block col-xs-15">
                                                <span class="col-xs-3">{{apitoken.apiUser}}</span>
                                                <span>{{::apitoken.expirationDt | date:'MM/dd/yyyy HH:mm:ss'}}</span>
                                                <dash-trash class="clickable pull-right" ng-click="ctrl.deleteToken(apitoken.id)"></dash-trash>
                                                <dash-edit class="clickable pull-right" ng-click="ctrl.editToken(apitoken)"></dash-edit>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center" ng-show="apitokens && !apitokens.length">
                                    No results
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="themes" ng-show="::ctrl.storageAvailable">
        <div class="btn-group" uib-dropdown is-open="status.isopen">
            <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                Themes <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li
                    ng-class="{'active': ctrl.theme == theme.filename}"
                    ng-repeat="theme in ctrl.themes">

                    <a class="clickable btn-block" ng-click="ctrl.applyTheme(theme.filename)">
                        {{theme.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
