<div class="col-md-4  col-md-push-1">
    <div class="animate-hide">
        <span class="text-center">API Connectivity</span>
    </div>
</div>
<div class="col-md-2 col-md-push-1">
    <div class="animate-hide">
        <i class="fa fa-2x fa-check-circle text-success"
            ng-if="apiup"></i>
        <i class="fa fa-2x fa-times-circle text-danger"
            ng-if="!apiup"></i>
    </div>
</div>

<div class="col-md-4 col-md-push-1">
    <div class="animate-hide">
      <span class="text-center">{{appVersion}}</span>
    </div>
</div>
