<div class="widget-modal">
    <div class="widget-modal-heading">
        Create a New Dashboard
    </div>
    <div class="widget-modal-body">
        <form name="cdf" class="form" ng-submit="ctrl.submit(cdf.$valid)" novalidate>
            <div class="form-group" ng-class="{'has-error': cdf.templateName.$invalid && ctrl.submitted}">
                <select name="templateName"
                        class="form-control"
                        ng-model="ctrl.templateName"
                        ng-options="item.name for item in ctrl.templates track by item.value"
                        required>
                    <option value="">Select a template</option>
                </select>

                <p class="help-block" ng-if="cdf.dashboardName.$error.required">Please select a template</p>
            </div>

            <div class="form-group" ng-class="{'has-error': cdf.dashboardName.$invalid && ctrl.submitted}">
                <input
                        type="text"
                        name="dashboardName"
                        class="form-control"
                        placeholder="Dashboard title"
                        ng-model="ctrl.dashboardName"
                        required
                        maxlength="50"
                        minlength="6"/>

                <p class="help-block" ng-if="cdf.dashboardName.$error.required">Template name is required</p>

                <p class="help-block" ng-if="cdf.dashboardName.$error.minlength">Min length of 6 characters</p>

                <p class="help-block" ng-if="cdf.dashboardName.$error.maxlength">Max length of 50 characters</p>
            </div>

            <div class="form-group" ng-class="{'has-error': cdf.applicationName.$invalid && ctrl.submitted}">
                <input
                        type="text"
                        name="applicationName"
                        class="form-control"
                        placeholder="Application name"
                        ng-model="ctrl.applicationName"
                        maxlength="50"
                        required/>

                <p class="help-block" ng-if="cdf.applicationName.$error.required">Application name is required</p>

                <p class="help-block" ng-if="cdf.applicationName.$error.maxlength">Max length of 50 characters</p>
            </div>

            <div class="button-row row text-center">
                <button type="submit" class="btn btn-primary btn-wide">Create</button>
            </div>

        </form>
    </div>
</div>