<widget-modal widget-modal-title="Create a New Dashboard">
    <form name="cdf" class="form" ng-submit="ctrl.submit(cdf)" novalidate>
        <form-group input="dashboardType">
            <select name="dashboardType"
                    class="form-control"
                    ng-model="ctrl.dashboardType"
                    ng-options="item.text for item in ctrl.dashboardTypes track by item.id"
                    ng-change="ctrl.setAvailableTemplates()"
                    required>
                <option value="" disabled>Select a type</option>
            </select>

        </form-group>

        <form-group input="selectedTemplate" errors="{required: 'Please select a template'}">
            <select name="selectedTemplate"
                    class="form-control"
                    ng-model="ctrl.selectedTemplate"
                    ng-options="item.name for item in ctrl.availableTemplates track by item.value"
                    required>
                <option value="" disabled>Select a template</option>
            </select>
        </form-group>

        <form-group input="dashboardTitle" errors="{required: 'Dashboard title is required', minlength: 'Min length of 6 characters', maxlength: 'Max length of 50 characters', createError: 'Error creating dashboard. Change title and try again.', pattern : 'Special character(s) found. Please enter only letters, numbers or spaces.'}">
            <input
                type="text"
                name="dashboardTitle"
                class="form-control"
                placeholder="Dashboard title"
                ng-model="ctrl.dashboardTitle"
                required
                maxlength="50"
                autocomplete="off"
                minlength="6"
                ng-pattern="/^[a-zA-Z0-9 ]*$/"/>

        </form-group>

        <form-group input="applicationName" errors="{required: 'Application name is required', maxlength: 'Max length of 50 characters'}">
            <input
                type="text"
                name="applicationName"
                class="form-control"
                placeholder="Application name"
                ng-model="ctrl.applicationName"
                maxlength="50"
                autocomplete="off"
                required />
        </form-group>

        <div class="button-row row text-center">
            <button type="submit" class="btn btn-primary btn-wide">Create</button>
        </div>

    </form>
</widget-modal>
