<widget-modal widget-modal-close="true">
    <div class="widget-detail widget-score-details">
        <div class="widget-detail-heading widget-score-desc">
            <i ng-if="detail.scoreWidget.state" uib-popover="{{detail.scoreWidget.statusTxt}}" popover-trigger="'mouseenter'"
               ng-class="detail.getIconClass(detail.scoreWidget)" class="score-status-icon score-status-icon-header fa"></i>
            {{::detail.scoreWidget.name}} Score Details
            <span class="pull-right">
                <span class="score-heading-value">{{::detail.scoreWidget.score}}</span>
                <ng-rate-it
                        ng-model="detail.scoreWidget.score"
                        read-only="true"
                        star-width="24"
                        star-height="24"
                        step="0.1"
                        class="score-heading">
                </ng-rate-it>
            </span>
        </div>
        <div uib-alert ng-if="detail.alert" class="score-alert" ng-class="detail.alert.alertClass" close="detail.closeAlert()">
            <span class="score-alert-header"><i ng-class="detail.getIconClass(detail.scoreWidget)" class="score-status-icon fa"></i> {{detail.scoreWidget.statusTxt}}</span>
            <hr/>
            <span class="score-alert-details">{{detail.alert.message}}</span>
        </div>
        <div class="widget-detail-body">
            <span class="no-changesets" ng-hide="detail.scoreWidgetMetrics.length">No Widget Scores</span>
            <table class="table" ng-show="detail.scoreWidgetMetrics.length">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Message</th>
                    <th>Weight</th>
                    <th><span class="pull-right">Score</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="scoreWidget in detail.scoreWidgetMetrics">
                    <td>{{::scoreWidget.name}}</td>
                    <td>
                        <i ng-class="detail.getIconClass(scoreWidget)" class="score-status-icon score-status-icon-row fa"></i>
                        <span class="score-status-text">{{scoreWidget.statusTxt}}</span>
                    </td>
                    <td>{{::scoreWidget.message}}</td>
                    <td>{{::scoreWidget.percent}}</td>
                    <td class="count-link score-col">
                        <i ng-if="scoreWidget.propagateScore"  uib-popover="{{scoreWidget.propagateMessage}}" popover-trigger="'mouseenter'" class="score-status-icon criteria-failed fa fa-level-up"></i>
                        <span class="score-value">{{::scoreWidget.score}}</span>
                        <ng-rate-it
                                ng-model="scoreWidget.score"
                                read-only="true"
                                star-width="18"
                                star-height="18"
                                step="0.1"
                                class="score">
                        </ng-rate-it>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</widget-modal>
