<div id="auth">
    <ng-include src="signup.templateUrl"></ng-include>
    <div class="col-md-8 col-md-push-2">

        <div class="auth-modal-heading">
            Please Signup
        </div>
        <div class="auth-modal-body">
            <form class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2"
                  name="suf"
                  class="form"
                  ng-controller="SignupController"
                  ng-submit="signup.doSignup(suf.$valid)"
                  role="form"
                  novalidate>

                <div class="alert alert-success" ng-if="signup.userCreated">
                    User created successfully
                </div>

                <div class="form-group">

                    <input type="email"
                           class="form-control text-center"
                           ng-model="signup.id"
                           name="email"
                           placeholder="Enter your email"
                           autocomplete="off"
                           required />

                    <p class="help-block" ng-show="suf.email.$error.required">
                        Password should be min length of 6 container
                    </p>
                    <p class="help-block" ng-show="suf.email.$error.email">
                        Email address is invalid
                    </p>
                </div>

                <div class="form-group" ng-class="{'has-errors': suf.password.$invalid}">

                    <input type="password" class="form-control text-center"
                           ng-model="signup.password"
                           required
                           minLength=6
                           name="password"
                           placeholder="Enter your Password"/>

                    <p class="help-block" ng-show="suf.password.$error.minlength">
                        Password should be min length of 6 container
                    </p>
                </div>


                <div class="form-group">
                    <input type="password" class="form-control text-center"
                           ng-model="signup.passwordConfirm"
                           required
                           minLength=6
                           match="signup.password"
                           name="confirm"
                           placeholder="Enter your Password Again"/>

                    <p class="help-block" ng-show="suf.confirm.$error.minlength">
                        Password should be min length of 6 container
                    </p>
                    <p class="help-block" ng-show="suf.confirm.$error.match">
                        Passwords do not match!
                    </p>

                </div>

                <div class="text-center">
                    <Button type="submit" class="btn btn-default btn-wide">
                        <i class="fa fa-lg fa fa-thumbs-o-up"></i>
                        Sign up
                    </Button>


                </div>

                <div class="gap text-center">
                    <p>Already have an account?</p>

                    <div class="btn btn-link btn-wide" ng-click="signup.doLogin()">
                        <span class="fa fa-lg fa-key"></span>
                        Log in
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
