<widget-modal widget-modal-title="Create Custom Template">
    <form name ="templateForm">
        <div class="wrapper">
            <div class="sidebar">
                <h3>Manage templates</h3>
                <form-group input="template"
                            class="text-center">

                    <label class="modal-label">Template Name</label>
                    <input type="text"
                           name="template"
                           class="form-control text-center"
                           ng-model="ctrl.templateName"
                           placeholder="Enter Template Name"
                           autocomplete="off"
                           required />
                </form-group>

                <div class="sidebar">
                    <ul>
                        <div ng-repeat="(title, widget) in ctrl.widgets"  ng-if="title!='cloud' && title!='product' && title!='pipeline' && title!='monitor2' && title!='chatops'">
                            <div class="col-md-4">
                                <a id="{{title}}-button" class="flat" ng-click="ctrl.toggleWidget(title, $event)">
                                    <p>{{title}}</p>
                                </a>
                            </div>
                        </div>
                    </ul>
                    <br>
                </div>


                <br>
            </div>

        </div>
        <div class="button-row row text-center">
            <button type="submit" class="btn btn-primary btn-wide" ng-click="ctrl.saveTemplate($event,templateForm)">Create</button>
        </div>
    </form>
</widget-modal>