<widget-modal widget-modal-title="Widget Management">
    <form name ="widgetForm">
        <div class="wrapper">
            <div class="sidebar">
                <ul>
                    <div ng-repeat="(title, widget) in ctrl.widgets"  ng-if="title!='product' && title!='monitor2'">
                        <div class="col-md-4">
                            <a id="{{title}}-button" class="flat" ng-click="ctrl.toggleWidget(title, $event)">
                                <p>{{title}}</p>
                            </a>
                        </div>
                    </div>
                </ul>
                <br>
            </div>

        </div>
        <div class="button-row row text-center">
            <button type="submit" class="btn btn-primary btn-wide" ng-click="ctrl.saveDashboard($event,widgetForm)">Create</button>
        </div>
    </form>
</widget-modal>