ngb-pagination {
  ::ng-deep {
    .pagination {
      justify-content: center;
    }
    .page-item {
      .page-link {
        background-color: black;
        border: dimgrey 0.1em solid;
      }
    }
    .page-item.active {
      .page-link {
        background-color: dimgray;
      }
    }
  }
}
