<div class="nav-container">
  <div class="header-container-left">
    <div class="logo-container">
      <a class="logo" routerLink=""></a>
    </div>
  </div>
  <div class="header-container-right">
    <nb-actions size="small" class="size-small">
      <nb-action icon="github" (click)="openGithub()"></nb-action>
      <nb-action icon="power-outline" (click)="loginOrOut()"><span></span></nb-action>
      <nb-action class="user-action ngx-star-filled" *ngIf="isAuthenticated">
        <nb-user class="size-medium shape-round context-menu-host ngx-star" name="{{userName}}"></nb-user>
      </nb-action>
    </nb-actions>
  </div>
</div>
