<div id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">

            <a ng-href="#/" class="dashboard-logo dashboard-logo-inverse"></a>

            <div ng-show="ctrl.showAuthentication">
                <div class="pull-right">

                    <span class="welcome-header">
                    Welcome  {{ ctrl.username  | uppercase}}

                       <span class="fa-stack fa-lg" ng-show="ctrl.myadmin" ng-click="ctrl.admin()">
                           <i class="fa fa-circle fa-stack-2x"></i>
                           <i class="fa fa-cog fa-stack-1x"></i>
                       </span>


                       <span class="fa-stack fa-lg" ng-click="ctrl.logout()">
                           <i class="fa fa-circle fa-stack-2x"></i>
                           <i class="fa fa-power-off fa-stack-1x"></i>
                       </span>

                        <div class="divider"></div>
                   </span>
                </div>
            </div>
        </div>
    </nav>
</div>
