<widget-modal widget-modal-title="Configure Deploy Widget">
    <form class="deploy-config" name="configForm"
          ng-submit="deployConfig.submit(configForm.$valid,deployConfig.deployJob)" novalidate="novalidate">
        <form-group input="deployJob" errors="{required:'Please select your application'}">

            <!--<select name="deployJob"
                    class="form-control"
                    ng-model="deployConfig.deployJob"
                    ng-options="job.name for job in deployConfig.deployJobs | orderBy: 'name' track by job.value"
                    ng-disabled="deployConfig.jobDropdownDisabled"
                    required>
                <option value="">{{deployConfig.jobDropdownPlaceholder}}</option>
            </select>-->

            <ui-select id="deployJob" ng-model="deployConfig.deployJob" theme="bootstrap"
                       ng-disabled="deployConfig.jobDropdownDisabled" required>
                <ui-select-match placeholder={{deployConfig.jobDropdownPlaceholder}}>{{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices group-by="'group'"
                        repeat="job in (deployConfig.deployJobs| orderBy: 'name' | filter: $select.search) track by job.value">
                    <div ng-bind-html="job.name | highlight: $select.search"></div>
                </ui-select-choices>
                <ui-select-no-choice>
                    No deployment job was found
                </ui-select-no-choice>
            </ui-select>
            
        </form-group>
        
        <form-group input="ignoreRegex" errors="{validregex:'Please enter a valid Regular Expression'}">
	
	        <label class="modal-label">Ignore Environment Failures Pattern:</label>
	        <input type="text"
	               name="ignoreRegex"
	               class="form-control text-center"
	               ng-model="deployConfig.ignoreRegex"
	               placeholder="Enter Regex"
	               autocomplete="on"
	               validregex />
	    </form-group>

        <div class="form-group checkbox">
            <label>
                <input type="checkbox" name="aggregateServers" ng-model="deployConfig.aggregateServers" ng-change="reload()">
                Aggregate Servers
            </label>
        </div>

        <hr/>

        <div class="form-group text-center">
            <label class="modal-label">
                Alert takeover criteria:
            </label>
            <br/>
            If any environment is down
        </div>

        <div class="button-row row text-center">
            <button type="submit" class="btn btn-primary btn-wide">Save</button>
        </div>
    </form>
</widget-modal>