<div class="deploy-view">
    <div hide-empty="['{{ deployView.environments[0] }}']">
        <style>
            .tab {
                background-color: white;
                color:black;
            }
            .tab button {
                float: left;
                cursor: pointer;
                transition: 0.3s;
            }
            .tab button:hover {
                background-color: #ddd;
            }
        </style>
        Total Deployments: {{deployView.getTotalListingCount()}} </br></br>
        <div class="tab">
            <button class="tablink" id = "defaultOpen" onclick="openPage('five', this, '#bfbfbf')" ng-click="deployView.getChoice(5)">Last 5 Deployments</button>
            <button class="tablink" onclick="openPage('ten', this, '#bfbfbf')"ng-click="deployView.getChoice(10)">Last 10 Deployments</button>
        </div>
        <div id = "five" class ="tabcontent">
        </div>
        <div id = "ten" class ="tabcontent">
        </div>
        <table class="table">
            <tr class="dash-row clickable" ng-repeat="environment in deployView.environments | orderBy:['name']" ng-click="deployView.showDetail(environment)">
                <td>
                    <span
                            dash-status="{{environment.failedComponents > 0 ?
                                (environment.ignoreFailure? deployView.statuses.IGNORE : deployView.statuses.FAIL) : deployView.statuses.PASS}}"
                            dash-status-fail-text="{{environment.failedComponents}}"
                            dash-status-ignore-text="{{environment.failedComponents}}"></span>
                </td>
                <td class="dash-overflow environment-name">
                    {{environment.name}}
                </td>
                <td class="text-standard-date">
                    {{environment.lastUpdated | date:'MMM d, yyyy'}}
                </td>
                <td class="server-count" ng-class="{'servers-up' : environment.serverUpCount > 0}">
                    {{environment.serverUpCount}}
                    <span class="fa fa-arrow-up"></span>
                </td>
                <td class="server-count" ng-class="{'servers-down' : environment.serverDownCount > 0}">
                    {{environment.serverDownCount}}
                    <span class="fa fa-arrow-down"></span>
                </td>
            </tr>
        </table>

        <script>
            function openPage(pageName,elmnt,color) {
                var tablinks;
                tablinks = document.getElementsByClassName("tablink");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].style.backgroundColor = "";
                }
                elmnt.style.backgroundColor = color;
            }
            document.getElementById("defaultOpen").click();
        </script>

    </div>
</div>