<widget-modal widget-modal-close="true" widget-modal-title="Monitor Icon Legend">
<div class="widget-detail">
	<div class="widget-detail-body">
		<div class="dash-status fa icon-legend-container">
			<div class="row icon-legend-header">
				<div class="col-sm-3">Icon</div>
				<div class="col-sm-6">Status</div>
				<div class="col-sm-3">HTTP Code</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<span class="dash-status-pass fa-check"></span>
				</div>
				<div class="icon-legend-text">
					<div class="col-sm-6">Pass</div>
					<div class="col-sm-3">200</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<span class="dash-status-warn fa-warning"></span>
				</div>
				<div class="icon-legend-text">
					<div class="col-sm-6">Warning</div>
					<div class="col-sm-3">300-400</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<span class="dash-status-pass fa-lock"></span>
				</div>
				<div class="icon-legend-text">
					<div class="col-sm-6">Unauthorized</div>
					<div class="col-sm-3">401</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<span class="dash-status-fail text-center">!</span>
				</div>
				<div class="icon-legend-text">				
					<div class="col-sm-6">Fail</div>
					<div class="col-sm-3">Other</div>
				</div>
			</div>
			<div></div>
		</div>
	</div>
</widget-modal>