<widget-modal widget-modal-title="Configure Feature Widget">
<form name="configForm"
	ng-submit="ctrl.submit(configForm.$valid, ctrl.collectorItemId, ctrl.estimateMetricType)"
	novalidate="novalidate">
	<div class="form-group clearfix"
		ng-class="{'has-error': configForm.collectorItemId.$invalid && ctrl.submitted}">

		<div class="col-sm-push-2 col-sm-8">
			<label class="modal-label">Agile Content Tool Type:</label>

			<select
				name="collectorId" class="form-control" ng-model="ctrl.collectorId"
				ng-init="ctrl.collectorId"
				ng-change="ctrl.evaluateTypeSelection()"
				ng-options="featureTypeOption.value for featureTypeOption in ctrl.featureTypeOptions | orderBy: 'value' track by featureTypeOption.id"
				required>
				<option value="">{{ctrl.typeDropdownPlaceholder}}</option>
			</select>

			<!--<ui-select id="collectorId" ng-model="ctrl.collectorId" ng-init="ctrl.collectorId" ng-change="ctrl.evaluateTypeSelection()" theme="bootstrap" ng-disabled="ctrl.toolsDropdownDisabled" required>
				<ui-select-match placeholder={{ctrl.toolsDropdownPlaceholder}} >{{$select.selected.value}}</ui-select-match>
				<ui-select-choices repeat="featureTypeOption in (ctrl.featureTypeOptions | filter: $select.search) track by featureTypeOption.id"
								   refresh="refreshPatients($select.search)"
								   refresh-delay="0">
					<div ng-bind-html="featureTypeOption.value | highlight: $select.search"></div>
				</ui-select-choices>
				<ui-select-no-choice>
					Dang!  We couldn't find any teams...
				</ui-select-no-choice>
			</ui-select>-->


			<p class="help-block"
				ng-if="configForm.collectorItemId.$error.required">Please select
				a valid feature data source</p>
		</div>

		<div ng-hide="ctrl.hideScopeOwnerDropDown" class="col-sm-push-2 col-sm-8">
			<label class="modal-label">Team/Project Name:</label>
			<!--<select
				name="collectorItemId" class="form-control"
				ng-model="ctrl.collectorItemId"
				ng-options="item.teamName for item in ctrl.scopeOwners | orderBy: 'teamName' track by item.value"
				ng-disabled="ctrl.toolsDropdownDisabled"
				required>
				<option value="">{{ctrl.toolsDropdownPlaceholder}}</option>
			</select>-->

			<ui-select id="collectorItemId" ng-model="ctrl.collectorItemId" theme="bootstrap"
					   ng-disabled="ctrl.toolsDropdownDisabled" required>
				<ui-select-match placeholder={{ctrl.toolsDropdownPlaceholder}}>{{$select.selected.teamName}}
				</ui-select-match>
				<ui-select-choices
						repeat="item in (ctrl.scopeOwners | orderBy: 'teamName' | filter: $select.search)  track by item.value">
					<div ng-bind-html="item.teamName | highlight: $select.search"></div>
				</ui-select-choices>
				<ui-select-no-choice>
					No features were found
				</ui-select-no-choice>
			</ui-select>


			<p class="help-block"
				ng-if="configForm.collectorItemId.$error.required">Please select
				a valid team / project</p>
		</div>
		
		<div ng-hide="ctrl.hideEstimateMetricDropDown" class="col-sm-push-2 col-sm-8">
			<label class="modal-label">Estimate Metric:</label> <select
				name="estimateMetricType" class="form-control"
				ng-model="ctrl.estimateMetricType"
				ng-options="item.type as item.value for item in ctrl.estimateMetrics"
				ng-disabled="ctrl.estimateMetricDropdownDisabled"
				required>
			</select>

			<p class="help-block"
				ng-if="configForm.estimateMetricType.$error.required">Please select
				a valid estimate metric</p>
		</div>
		
		<div ng-hide="ctrl.hideSprintTypeDropDown" class="col-sm-push-2 col-sm-8">
			<label class="modal-label">Sprint Type:</label> <select
				name="sprintType" class="form-control"
				ng-model="ctrl.sprintType"
				ng-options="item.type as item.value for item in ctrl.sprintTypes"
				required>
			</select>

			<p class="help-block"
				ng-if="configForm.estimateMetricType.$error.required">Please select
				a valid sprint type</p>
		</div>
	</div>

	<div class="button-row row text-center">
		<button type="submit" class="btn btn-primary btn-wide">Save</button>
	</div>
</form>
</widget-modal>