<div class="feature-view">
	<!-- Scrum Widget -->
	<div id="scrum-widget-view" class="col-lg-12 col-sm-6 animate-show" ng-show="ctrl.showStatus.scrum">
		<div class="widget">
			<div class="widget-body">
				<div class="col-xs-9.5 text-standard-sm dash-overflow">
					Scope: <em>{{ctrl.teamName}}</em>
				</div>
			</div>

			<div class="widget-heading">
				<div class="iteration-change-btn text-standard-sm">Iteration:
					<button id="next-btn" class="pull-right btn-default btn-xm active" ng-show="ctrl.numberOfSprintTypes === 2" ng-click="ctrl.animateAgileView(true)">>></button>
					<button id="pause-btn" class="pull-right btn-default btn-xm active" ng-show="ctrl.numberOfSprintTypes === 2" ng-click="ctrl.pauseAgileView()" ng-model="ctrl.pausePlaySymbol">{{ctrl.pausePlaySymbol}}</button>
				</div>
				<div ng-repeat="iteration in ctrl.iterations">
					<div class="col-xs-2.5 text-lg pull-right">
						{{iteration.tilEnd}}
					</div>
					<div class="col-xs-9.5 text-lg dash-overflow">
						<em>{{iteration.name}}</em>
					</div>
				</div>
			</div>

			<div class="widget-body" fit-text=".build-summary-count > span" fit-text-max="40">
				<div class="row">
					<div class="col-xs-4">
						<div class="story-summary-count story-total">
							<span>{{ctrl.totalStoryPoints}}</span>
						</div>
						<div class="story-summary-type">Total</div>
					</div>
					<div class="col-xs-4">
						<div class="story-summary-count story-wip">
							<span>{{ctrl.wipStoryPoints}}</span>
						</div>
						<div class="story-summary-type">WIP</div>
					</div>
					<div class="col-xs-4">
						<div class="story-summary-count story-done">
							<span>{{ctrl.doneStoryPoints}}</span>
						</div>
						<div class="story-summary-type">Done</div>
					</div>
				</div>
			</div>
		</div>

		<div class="widget">
			<div class="widget-body">
				<div class="widget-heading">Features in Progress
					<button class="pull-right btn-default btn-xm active" ng-show="ctrl.showFeatureLimitButton" ng-click="ctrl.setFeatureLimit()" ng-init="ctrl.featureLimit=4">+/-</button>
				</div>
				<div class="dash-row" ng-repeat="feature in ctrl.epicStoryPoints | limitTo:ctrl.featureLimit">
					<div class="pull-right">{{feature.sEstimate}}</div>
					<div class="dash-overflow">{{feature.sEpicName}}</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Kanban Widget -->
	<div id="kanban-widget-view" class="col-lg-12 col-sm-6 animate-show" ng-show="ctrl.showStatus.kanban">
		<div class="widget">
			<div class="widget-body">
				<div class="col-xs-9.5 text-standard-sm dash-overflow">
					Scope: <em>{{ctrl.teamName}}</em>
				</div>
			</div>

			<div class="widget-heading">
				<div class="iteration-change-btn text-standard-sm">Iteration:
					<button id="next-btn" class="pull-right btn-default btn-xm active" ng-show="ctrl.numberOfSprintTypes === 2" ng-click="ctrl.animateAgileView(true)">>></button>
					<button id="pause-btn" class="pull-right btn-default btn-xm active" ng-show="ctrl.numberOfSprintTypes === 2" ng-click="ctrl.pauseAgileView()" ng-model="ctrl.pausePlaySymbol">{{ctrl.pausePlaySymbol}}</button>
				</div>
				<div ng-repeat="iteration in ctrl.iterationsKanban">
					<div class="col-xs-2.5 text-lg pull-right">
						{{iteration.tilEnd}}
					</div>
					<div class="col-xs-9.5 text-lg dash-overflow">
						<em>{{iteration.name}}</em>
					</div>
				</div>
			</div>

			<div class="widget-body" fit-text=".build-summary-count > span" fit-text-max="40">
				<div class="row">
					<div class="col-xs-6">
						<div class="story-summary-count story-total">
							<span>{{ctrl.totalStoryPointsKanban}}</span>
						</div>
						<div class="story-summary-type">Total</div>
					</div>
					<div class="col-xs-6">
						<div class="story-summary-count story-wip">
							<span>{{ctrl.wipStoryPointsKanban}}</span>
						</div>
						<div class="story-summary-type">WIP</div>
					</div>
				</div>
			</div>
		</div>

		<div class="widget">
			<div class="widget-body">
				<div class="widget-heading">Features in Progress
					<button class="pull-right btn-default btn-xm active" ng-show="ctrl.showFeatureLimitButton" ng-click="ctrl.setFeatureLimit()" ng-init="ctrl.featureLimit=4">+/-</button>
				</div>
				<div class="dash-row" ng-repeat="feature in ctrl.epicStoryPointsKanban | limitTo:ctrl.featureLimit">
					<div class="pull-right">{{feature.sEstimate}}</div>
					<div class="dash-overflow">{{feature.sEpicName}}</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Error View -->
	<div id="error-view" class="col-lg-12 col-sm-6" ng-hide="ctrl.showStatus.scrum || ctrl.showStatus.kanban">
		<div class="widget-heading">
			<div class="text-standard-sm text-warning">[No Active Iterations]</div>
		</div>
	</div>
</div>
