.table-content {
  width: 100%;
  display: table;
}

button {
  color: white;
}

.table-heading {
  display: table-row;
  margin: 0px;
  padding: 0px;
}

.table-row {
  display: table-row;
}

.each-result {
  border: 1px solid grey;
  padding: 8px;
}

p {
  display: table-cell;
  padding: 4px;
}

h6 {
  padding: 1px
}

.individual {
  width: 100%;
}

.flags {
  border: 1px solid lightgrey;
  padding: 8px;
}
