<div ng-controller="CapOneTemplateController as template">
    <div id="header">

        <img class="mycenter pull-left" alt="Hygieia" src="assets/images/Hygieia_b.png"/>


        {{::ctrl.dashboard.title}}

        <div class="pipeline-toggle btn-group"
             ng-click="template.toggleView()"
             ng-show="template.hasComponents(ctrl.dashboard, ['Deployment'])">
            <span class="btn" ng-class="{'btn-primary':template.widgetView, 'btn-default': !template.widgetView}">
                <span class="fa fa-th"></span>
                Widget
            </span>
            <span class="btn" ng-class="{'btn-primary':!template.widgetView, 'btn-default': template.widgetView}">
                <span class="fa fa-tasks"></span>
                Pipeline
            </span>
        </div>

        <div class="clear"></div>
    </div>

    <div class="dashboard-widgets container-fluid" widget-container dashboard="ctrl.dashboard" ng-if="template.widgetView">
        <div class="row">
            <div class="col-md-3">
                <!--<div class="col-sm-6 col-md-12">-->
                    <!--<widget name="nada" widget-title="Feature"></widget>-->
                <!--</div>-->
                <!--<div class="col-sm-6 col-md-12">-->
                <div class="col-xs-12">
                    <widget name="feature" widget-title="Feature"></widget>
                    <widget name="repo"></widget>

                </div>
                <!--</div>-->
            </div>

            <div class="col-md-6">
                <widget name="build"></widget>
                <widget name="codeanalysis"></widget>
            </div>

            <div class="col-md-3">
                <div class="col-sm-6 col-md-12">
                <widget name="chatops" widget-title="ChatOps"</widget>
                </div>
                <div class="col-sm-6 col-md-12">
                    <widget name="deploy"></widget>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" widget-container dashboard="ctrl.dashboard" ng-if="!template.widgetView">
        <div class="col-xs-12">
            <widget name="pipeline" widget-title="Delivery Pipeline"></widget>
        </div>
    </div>



</div>