<div ng-controller="CloudTemplateController as template">
    <div id="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">

                <a ng-href="#/" class="dashboard-logo"></a>

                {{::ctrl.dashboard.title}}

                <div class="pipeline-toggle btn-group">

                    <span class="btn" ng-repeat="tab in template.tabs" ng-click="template.toggleView($index)"
                          ng-class="tab.name == template.widgetView ? 'btn-primary' : 'btn-default'">
                        <span ng-class="tab.name === 'Widget' ? 'fa fa-th' : tab.name === 'Pipeline' ? 'fa fa-task' : 'fa fa-cloud'"></span>
                        {{tab.name}}
                    </span>

                </div>
            </div>
        </nav>
    </div>

    <div class="dashboard-widgets container-fluid" widget-container dashboard="ctrl.dashboard" ng-if="template.widgetView == 'Widget'">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-xs-12">
                        <widget name="feature" widget-title="Feature"></widget>
                        <widget name="repo"></widget>
                    </div>
                </div>
                <!--</div>-->
            </div>

            <div class="col-md-6">
                <widget name="build"></widget>
                <widget name="codeanalysis"></widget>
            </div>

            <div class="col-md-3">

                <div class="row">
                    <div class="col-sm-6 col-md-12">
                        <widget name="Monitor"></widget>
                    </div>

                    <div class="col-sm-6 col-md-12">
                        <widget name="deploy"></widget>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid" widget-container dashboard="ctrl.dashboard" ng-if="template.widgetView == 'Pipeline'">
        <div class="row">
            <div class="col-xs-12">
                <widget name="pipeline" widget-title="Delivery Pipeline"></widget>
            </div>
        </div>
    </div>


    <div class="container-fluid" widget-container dashboard="ctrl.dashboard" ng-if="template.widgetView == 'Cloud'">
        <div class="row">
            <div class="col-xs-12">
                <widget name="cloud" widget-title="Cloud"></widget>
            </div>
        </div>
    </div>


</div>
