<widget-modal widget-modal-title="Configure Subnet Visigoth Widget">
<form name="configForm"
	ng-submit="subnetVisigothConfig.submit(configForm.$valid, subnetVisigothConfig.subnetVisigothApiUrl, subnetVisigothConfig.vpcId)"
	novalidate="novalidate">

	<form-group input="vpcId"
				class="text-center"
				errors="{required:'Please enter a vpc id'}">
		<label class="modal-label">VPC Id</label>

		<input type="text"
			   name="vpcId"
			   class="form-control text-center"
			   ng-model="subnetVisigothConfig.vpcId"
			   placeholder="Enter VPC ID"
			   autocomplete="off"
			   required />

	</form-group>

	<form-group input="subnetVisigothApiUrl"
				class="text-center"
				errors="{required:'Subnet Visigoth API URL is required', url: 'Please enter a valid URL'}">

		<label class="modal-label">Subnet Visigoth API URL</label>
		<input type="url"
			   name="subnetVisigothApiUrl"
			   class="form-control text-center"
			   ng-model="subnetVisigothConfig.subnetVisigothApiUrl"
			   placeholder="Enter URL"
			   autocomplete="off"
			   required />
	</form-group>

	<div class="button-row row text-center">
		<button type="submit" class="btn btn-primary btn-wide">Save</button>
	</div>
</form>
</widget-modal>