<div class="widget-container-small">
  <div class="widget">
    <div class="widget-heading">
      <span>{{title}}</span>
      <span class="widget-settings-icon clickable pull-right fa fa-trash"
            (click)="openConfirm()"></span>
      <span class="widget-settings-icon clickable pull-right fa fa-cog"
            (click)="openConfig()"></span>
    </div>
    <div class="widget-body">
      <div class="build-view">
        <!-- widget content -->
        <ng-template appWidget></ng-template>
      </div>
    </div>
  </div>
</div>
