<widget-modal widget-modal-title="Configure pulls_merged Widget">
	<form name="configForm"
		  ng-submit="pullMergedConfig.submit(configForm.$valid, pullMergedConfig.repoUrl, pullMergedConfig.repoOption)"
		  novalidate="novalidate">

		<form-group input="repoOption"
					class="text-center"
					errors="{required:'Please select a repository type'}">
			<label class="modal-label">Repo Type</label>

			<select name="repoOption"
					class="form-control text-center"
					ng-model="pullMergedConfig.repoOption"
					ng-options="repoOption.value for repoOption in pullMergedConfig.repoOptions"
					required>
				<option value="" disabled>Select a type</option>
			</select>
		</form-group>

		<form-group input="repoUrl"
					class="text-center"
					errors="{required:'Repository URL is required', url: 'Please enter a valid URL'}">

			<label class="modal-label">Org URL</label>
			<input type="url"
				   name="repoUrl"
				   class="form-control text-center"
				   ng-model="pullMergedConfig.repoUrl"
				   placeholder="Enter URL"
				   autocomplete="off"
				   required />
		</form-group>

		<form-group ng-if="pullMergedConfig.repoOption.name == 'GitHub (public)' || pullMergedConfig.repoOption.name == 'GitHub'  || pullMergedConfig.repoOption.name == 'Stash'"
					errors="{required:'Branch is required'}"
					input="gitBranch"
					class="text-center">

			<label class="modal-label" id="repoLabel">Branch (Ex: master)</label>

			<input
					type="text"
					name="gitBranch"
					class="form-control text-center"
					ng-model="pullMergedConfig.gitBranch"
					placeholder="Enter Branch"
					required />

		</form-group>

		<div class="button-row row text-center">
			<button type="submit" class="btn btn-primary btn-wide">Save</button>
		</div>
	</form>
</widget-modal>
