<div class="pull-merged-view">
    <div class="widget">
        <div class="widget-heading">
            pulls per day
        </div>
        <div class="widget-body">
            <chartist class="ct-chart ct-octave dash-chart-alt"
                      chartist-chart-type="Line"
                      chartist-data="pullMergedView.pullChartData"
                      chartist-chart-options="pullMergedView.pullChartOptions"
                      chartist-events="pullMergedView.pullChartEvents"
            >
            </chartist>
        </div>
    </div>

    <div class="widget">
        <div class="widget-heading">
            Summary
        </div>
        <div class="widget-body">
            <table class="table pull-merged-summary-table">
                <tr>
                    <td>Total pulls</td>
                    <td>{{pullMergedView.lastDayPullCount}}</td>
                    <td>{{pullMergedView.lastfortyfiveDaysPullCount}}</td>
                    <td>{{pullMergedView.lastninetyDaysPullCount}}</td>
                </tr>
                <tr>
                    <td>(Distinct) Developers</td>
                    <td>{{pullMergedView.lastDayContributorCount}}</td>
                    <td>{{pullMergedView.lastfortyfiveDaysContributorCount}}</td>
                    <td>{{pullMergedView.lastninetyDaysContributorCount}}</td>
                </tr>
                <tr class="totals">
                    <td></td>
                    <td>Today</td>
                    <td>Last<br/>45 Days</td>
                    <td>45 to <br/>90 Days</td>
                </tr>
            </table>
        </div>
    </div>
</div>
