<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="DEBUG">
      <appender-ref ref="STDOUT" />
  </root>

  <logger name="com.mongodb.FongoDBCollection" level="INFO"/>
  <logger name="com.github.fakemongo.impl.ExpressionParser" level="INFO"/>
</configuration>
