<div class="dashboard-widgets container-fluid" widget-container dashboard="ctrl.dashboard">
    <div class="row">
        <div class="col-sm-5">
            <widget name="build"></widget>
            <widget name="repo"></widget>
        </div>

        <div class="col-sm-6">
            <widget name="codeanalysis"></widget>
            <div class="col-sm-6">
                <widget name="Monitor"></widget>
            </div>
            <div class="col-sm-6">
                <widget name="deploy"></widget>
            </div>
        </div>
    </div>
</div>