.modal-content-main {
  background-color: #2D2D2D;
  padding: 20px;
  table-layout: auto;
  color: white;
}

.table-content {
  width: 100%;
  word-break: break-all;
}

.title-main {
  padding: 5px;
}

button {
  color: white;
}

h4 {
  color: lightgrey;
}

table, tr, th {
  background-color: #565859;
  padding: 15px;
  color: lightgrey;
  font-weight: normal;
}

table, tr, td {
  padding: 15px;
  background-color: #444648;
  color: lightgrey;
}

a {
  color: lightgrey;
  text-decoration: underline;
}

.tableName {
  color: white;
}
