// Brand
$brand-primary:         darken(#428bca, 6.5%); // #337ab7
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

// used for hr tags or widgets to split sections or rows
@dash-divider:                      @dash-text;
@dash-divider-light:                lighten(@dash-text, 20%);
