.mat-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

mat-header-cell {
  padding: 8px 10px 0;
  min-width: none;
  color: black;
}

mat-cell {
  overflow: scroll;
  min-width: 20px;
}

mat-table {
  overflow: scroll;
  max-height: 500px;
  max-width: 80vw;
  background-color: lightgray;
}
