// LOCAL VARIABLES FOR THIS THEME
// ========================================
$white: #fff;
$chart-green: #05ac45;
$chart-red: #d8514d;
$bg-replacement: rgba(0, 0, 0, .75);

$dash-image-path: "assets/img/";
