# Mac artifacts
.DS_Store

# Eclipse artifacts
.project
.settings
.classpath

# Logs
logs
log
*.log

# Runtime data
pids
*.pid
*.seed
*.iml
/target
/.idea

# Distributable artifacts
target

# Specific project files
jir-client.properties
/bin/
application.properties
