<div class="panel panel-default">
    <div class="panel-heading">
        <b>Build Widget</b>
        <span class="pull-right">
            <label class="radio-inline">
                <input ng-model="scoreConfig.buildWidget.disabled" id="disableBuildWidget" name="disableBuildWidget" type="checkbox">
                Disable
            </label>
        </span>
    </div>
    <div class="panel-body">
        <div class="dash-modal-row">
            <form-group input="buildWidgetWeight" class="col-md-6" input="form-control" errors="{required:'Please enter a value'}">

                <label class="modal-label">Weight (%)</label>
                <input type="number"
                       name="buildWidgetWeight"
                       class="form-control text-center"
                       ng-model="scoreConfig.buildWidget.weight"
                       placeholder="Enter Weight"
                       ng-required="true"
                        />
            </form-group>
            <form-group input="buildWidgetNumOfDays" class="col-md-6" input="form-control" errors="{required:'Please enter a value'}">

                <label class="modal-label">Number of days</label>
                <input type="number"
                       name="buildWidgetNumOfDays"
                       class="form-control text-center"
                       ng-model="scoreConfig.buildWidget.numberOfDays"
                       placeholder="Enter number of days"
                       ng-required="true"
                />
            </form-group>
            <fieldset id="buildWidgetStatusWeightFS" class="fieldset-block">
                <legend class="fieldset-block">Status Settings</legend>
                <form-group input="buildWidgetStatusWeight" class="col-md-6" input="form-control" errors="{required:'Please enter a value'}">

                    <label class="modal-label">Weight (%)</label>
                    <input type="number"
                           name="buildWidgetStatusWeight"
                           class="form-control text-center"
                           ng-model="scoreConfig.buildWidget.status.weight"
                           placeholder="Enter Weight"
                           ng-required="true"
                    />
                </form-group>
                <form-group class="col-md-6" input="form-control">

                    <label class="radio-inline radio-inline-form">
                        <input ng-model="scoreConfig.buildWidget.status.disabled" id="disableBuildStatusWidget" name="disableBuildStatusWidget" type="checkbox">
                        Disable
                    </label>
                </form-group>
            </fieldset>
            <fieldset id="buildWidgetDurationWeightFS" class="fieldset-block">
                <legend class="fieldset-block">Duration Settings</legend>
                <form-group input="buildWidgetDurationWeight" class="col-md-6" input="form-control" errors="{required:'Please enter a value'}">

                    <label class="modal-label">Weight (%)</label>
                    <input type="number"
                           name="buildWidgetDurationWeight"
                           class="form-control text-center"
                           ng-model="scoreConfig.buildWidget.duration.weight"
                           placeholder="Enter Weight"
                           ng-required="true"
                    />
                </form-group>
                <form-group input="buildWidgetDurationThreshold" class="col-md-6" input="form-control" errors="{required:'Please enter a value'}">

                    <label class="modal-label">Duration Threshold in Millis</label>
                    <input type="number"
                           name="buildWidgetDurationThreshold"
                           class="form-control text-center"
                           ng-model="scoreConfig.buildWidget.duration.buildDurationThresholdInMillis"
                           placeholder="Enter Threshold"
                           ng-required="true"
                    />
                </form-group>
                <form-group class="col-md-6" input="form-control">

                    <label class="radio-inline">
                        <input ng-model="scoreConfig.buildWidget.duration.disabled" id="disableBuildDurationWidget" name="disableBuildDurationWidget" type="checkbox">
                        Disable
                    </label>
                </form-group>
            </fieldset>
        </div>





    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <b>Deploy Widget</b>
        <span class="pull-right">
            <label class="radio-inline">
                <input ng-model="scoreConfig.deployWidget.disabled" id="disableDeployWidget" name="disableDeployWidget" type="checkbox">
                Disable
            </label>
        </span>
    </div>
    <div class="panel-body">
        <div class="dash-modal-row">
            <form-group input="deployWidgetWeight" class="col-md-12" input="form-control" errors="{required:'Please enter a value'}">

                <label class="modal-label">Weight (%)</label>
                <input type="number"
                       name="deployWidgetWeight"
                       class="form-control text-center"
                       ng-model="scoreConfig.deployWidget.weight"
                       placeholder="Enter Weight"
                       ng-required="true"
                />
            </form-group>
            <fieldset id="deployWidgetStatusWeightFS" class="fieldset-block">
                <legend class="fieldset-block">Success Settings</legend>
                <form-group input="deployWidgetSuccessWeight" class="col-md-6" input="form-control" errors="{required:'Please enter a value'}">

                    <label class="modal-label">Weight (%)</label>
                    <input type="number"
                           name="deployWidgetSuccessWeight"
                           class="form-control text-center"
                           ng-model="scoreConfig.deployWidget.deploySuccess.weight"
                           placeholder="Enter Weight"
                           ng-required="true"
                    />
                </form-group>
                <form-group class="col-md-6" input="form-control">

                    <label class="radio-inline radio-inline-form">
                        <input ng-model="scoreConfig.deployWidget.deploySuccess.disabled" id="disableDeploySuccessWidget" name="disableDeploySuccessWidget" type="checkbox">
                        Disable
                    </label>
                </form-group>
            </fieldset>
            <fieldset id="deployInstancesOnlineWeightFS" class="fieldset-block">
                <legend class="fieldset-block">Instances Online Settings</legend>
                <form-group input="deployInstancesOnlineWeight" class="col-md-6" input="form-control" errors="{required:'Please enter a value'}">

                    <label class="modal-label">Weight (%)</label>
                    <input type="number"
                           name="deployInstancesOnlineWeight"
                           class="form-control text-center"
                           ng-model="scoreConfig.deployWidget.intancesOnline.weight"
                           placeholder="Enter Weight"
                           ng-required="true"
                    />
                </form-group>
                <form-group class="col-md-6" input="form-control">

                    <label class="radio-inline radio-inline-form">
                        <input ng-model="scoreConfig.deployWidget.intancesOnline.disabled" id="disableDeployInstancesOnlineWidget" name="disableDeployInstancesOnlineWidget" type="checkbox">
                        Disable
                    </label>
                </form-group>
            </fieldset>
        </div>

    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <b>Quality Widget</b>
        <span class="pull-right">
            <label class="radio-inline">
                <input ng-model="scoreConfig.qualityWidget.disabled" id="disableQualityWidget" name="disableQualityWidget" type="checkbox">
                Disable
            </label>
        </span>
    </div>
    <div class="panel-body">
        <div class="dash-modal-row">
            <form-group input="qualityWidgetWeight" class="col-md-12" input="form-control" errors="{required:'Please enter a value'}">

                <label class="modal-label">Weight (%)</label>
                <input type="number"
                       name="qualityWidgetWeight"
                       class="form-control text-center"
                       ng-model="scoreConfig.qualityWidget.weight"
                       placeholder="Enter Weight"
                       autocomplete="on"
                />
            </form-group>
            <fieldset id="qualityWidgetCCWeightFS" class="fieldset-block">
                <legend class="fieldset-block">Code Coverage Settings</legend>
                <form-group input="qualityWidgetCCWeight" class="col-md-6" input="form-control" errors="{required:'Please enter a value'}">

                    <label class="modal-label">Weight (%)</label>
                    <input type="number"
                           name="qualityWidgetCCWeight"
                           class="form-control text-center"
                           ng-model="scoreConfig.qualityWidget.codeCoverage.weight"
                           placeholder="Enter Weight"
                           ng-required="true"
                    />
                </form-group>
                <form-group class="col-md-6" input="form-control" errors="{required:'Please enter a value'}">

                    <label class="radio-inline radio-inline-form">
                        <input ng-model="scoreConfig.qualityWidget.codeCoverage.disabled" id="disableQualityCCWidget" name="disableQualityCCWidget" type="checkbox">
                        Disable
                    </label>
                </form-group>
            </fieldset>
            <fieldset id="qualityWidgetUTWeightFS" class="fieldset-block">
                <legend class="fieldset-block">Unit Tests Settings</legend>
                <form-group input="qualityWidgetUTWeight" class="col-md-6" input="form-control" errors="{required:'Please enter a value'}">

                    <label class="modal-label">Weight (%)</label>
                    <input type="number"
                           name="qualityWidgetUTWeight"
                           class="form-control text-center"
                           ng-model="scoreConfig.qualityWidget.unitTests.weight"
                           placeholder="Enter Weight"
                           ng-required="true"
                    />
                </form-group>
                <form-group class="col-md-6" input="form-control">

                    <label class="radio-inline radio-inline-form">
                        <input ng-model="scoreConfig.qualityWidget.unitTests.disabled" id="disableQualityUTWidget" name="disableQualityUTWidget" type="checkbox">
                        Disable
                    </label>
                </form-group>
            </fieldset>
        </div>

    </div>
</div>

