@import (reference) '../../../app/css/mixins.less';

#dashboard {
    .score-view {

        .panel-body {
            padding-top: .5rem;
        }

        .score-rating-value {
            font-size: 5rem;
            line-height: 5.2rem;
            text-align: center;
            margin-top: .5rem;
        }

        .details-title{
          cursor: pointer;
        }
    }

}

.score-detail {
    .score-desc {
        .text-2x-bold;
    }

    .no-changesets {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

}

.bigstar.ngrateit {
    .ngrateit-star {
        background-size: 44px;
    }
}
